.table_scrollable {
  width: 100%;
  overflow-x: auto;
}

.table_head,
.table_detail {
  text-align: left;
  padding: 10px !important;
  white-space: nowrap;;
}

.search-loader ngx-skeleton-loader::ng-deep.loader{
  height: 54px;
  border-radius: 6px;
  min-width: 250px;
  max-width: 250px;
  margin-right: 20px;
}
.selection-loader ngx-skeleton-loader::ng-deep.loader{
  height: 54px;
  border-radius: 6px;
  min-width: 200px;
  max-width: 200px;
  margin-right: 20px;
}

// .table_detail:not(.mat-column-email){
//   // text-transform: capitalize;
// }
tr.mat-header-row {
  background: rgb(var(--theme-color-cico-orange-rgb), 5%) !important;

  th {
    color: var(--theme-color-cico-orange) !important;
  }
}

.content {
  margin: 20px 0px;
}

.view_icon {
  color: var(--theme-color-cico-orange);
}

.edit_icon {
  color: var(--theme-color-green);
}

.delete_icon {
  color: var(--theme-color-red);
}

.Employee-d-flex {
  display: flex !important;
  justify-content: space-between;
}

.Employee-header-margin {
  margin: 20px 0px !important;
}

#mat-dialog-title-3 {
  font-weight: 400;
}

#mat-dialog-title-3 i {
  font-weight: 400;
}

.margin_left_auto {
  margin-left: auto;
}
.users{
  gap: 120px;
  row-gap: 20px;

}
// ::ng-deep ngx-avatar {
//   .avatar-container {
//     margin: auto !important;
//   }
// }

.emp-name {
  font-size: 1rem;
}
.rect-card ngx-skeleton-loader::ng-deep.loader{
  height: 150px;
  width: 100%;
  border-radius: 20px;
}

.side-drawer-full-width {
  min-width: 100%;
  max-width: 100%;
}

@media (max-width: 575px) {
  mat-form-field{
    width: 100%;
  }
  .search-loader ngx-skeleton-loader::ng-deep.loader{
    height: 54px;
    border-radius: 6px;
    min-width: 100%;
    max-width: 100%;
    margin-right: 20px;
  }
  .selection-loader ngx-skeleton-loader::ng-deep.loader{
    height: 54px;
    border-radius: 6px;
    min-width: 100%;
    max-width: 100%;
    margin-right: 20px;
  }
  ngx-skeleton-loader::ng-deep.loader.circle{
    width: 20px;
    height: 20px;
  }
  .cico-button{
    width: 100%;
  }
 
}
 mat-drawer::ng-deep .mat-drawer-inner-container{
  overflow:revert;
  overflow-x: clip;
 }
 @media (max-width: 991px) {
  .side-drawer {
    min-width: 100%;
    max-width: 100%;
  }
  .row{
    --bs-gutter-x: none;
    gap: 0px;
  }
 
}
.cico-card {
 height: 140px;
 overflow: auto;
}
