<div class="p-sm-5">
  <h1 class="mat-dialog-title modal_title_custom light-underline">
    <mat-icon class="mr-1">add_circle</mat-icon>
    <span> New Leave Request {{ leave_Period }} </span>
  </h1>
  <form>
    <div>
      <div class="row">
        <div class="col-md-6 mb-2 px-md-2">
          <mat-form-field class="w-100">
            <mat-label>Employee</mat-label>
            <mat-select
              (selectionChange)="onSelectionChange($event)"
              [(ngModel)]="empid"
            >
              <mat-option *ngFor="let emp of users" value="{{ emp.user_id }}">
                {{ emp.full_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6 mb-2 px-md-2">
          <mat-form-field class="w-100">
            <mat-label>Leave Type</mat-label>
            <mat-select (selectionChange)="onSelectionLeaveChange($event)">
              <mat-option
                *ngFor="let item of leaves"
                value="{{ item.policy_id }}"
              >
                {{ item.policy }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-12 px-md-2">
          <div class="col-md-6 mb-2 d-flex">
            <label> Half-day Leave</label>
            <input
              class="mat-checkbox"
              type="checkbox"
              [checked]="isChecked"
              (change)="onCheckboxChange()"
            />
          </div>
          <div class="col-md-6 mb-2 px-md-2" *ngIf="isChecked">
            <mat-form-field class="w-100">
              <mat-label>Leave Period</mat-label>
              <mat-select (selectionChange)="onSelectionPeriodChange($event)">
                <mat-option *ngFor="let emp of leavePeriod" value="{{ emp }}">
                  {{ emp }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-6 mb-2 px-md-2">
          <mat-form-field class="w-100">
            <input
              matInput
              placeholder="From"
              type="date"
              #fromdate
              required
              (input)="validateLogs($event)"
              [(ngModel)]="fromDate"
              (change)="onDateSelect(fromdate.value, 'from')"
            />
            <mat-error>From Date is required.</mat-error>
          </mat-form-field>
          <mat-error *ngIf="logValid">
            Input should be in
            <strong><i>DD-MM-YYYY</i></strong> only.
          </mat-error>
        </div>
        <div class="col-md-6 mb-2 px-md-2" [hidden]="isChecked">
          <mat-form-field class="w-100">
            <input
              matInput
              placeholder="To"
              type="date"
              #todate
              required
              (input)="validateLogs($event)"
              (change)="onDateSelect(todate.value, 'to')"
              [min]="fromdate.value"
              [value]="toDate"
            />
            <mat-error>To Date is required.</mat-error>
          </mat-form-field>
        </div>
        <div class="col-12 mb-2 px-md-2 d-flex justify-content-start">
          <label>Reason :</label>
        </div>
        <div class="col-12 px-md-2">
          <textarea
            rows="8"
            cols="78"
            placeholder="Describe your leave reason"
            style="border: 1px solid #80808073; width: 100%"
            [(ngModel)]="reason"
            required
          ></textarea>
        </div>
        <div *ngIf="isSickLeave" class="col-md-12 px-md-2 mb-3 mt-2 d-flex justify-content-center">
          <button mat-raised-button class="cico-button">
            <label
              for="img"
              class="d-flex align-items-center"
              style="color: #fff; font-weight: 450"
            >
              <mat-icon class="me-2">backup</mat-icon>
              Upload attachment

              <input
                type="file"
                id="img"
                size="60"
                required
                #img
                (change)="selectedFile($event)"
                accept=".jpg,.jpeg,.png,.pdf"
              />
            </label>
          </button>
          <ion-text *ngIf="uploadFile">
            {{ uploadFile.name }}
          </ion-text>
        </div>
      </div>
    </div>
    <!-- <div class="justify-content-center" *ngIf="isLoading">
      <app-loader></app-loader>
    </div> -->

    <div
      class="justify-content-center text-center d-flex mb-5"
      *ngIf="!isLoading"
    >
      <button
        mat-raised-button
        class="cico-button"
        (click)="ApplyLeave()"
        [disabled]="validationCheck()"
      >
        <mat-icon class="mr-1">save</mat-icon>Apply
      </button>
    </div>
    <div
    class="justify-content-center text-center d-flex mb-5"
    *ngIf="isLoading"
  >
    <button
      mat-raised-button
      class="cico-button"
      (click)="ApplyLeave()"
      [disabled]="validationCheck()"
    >
      <mat-icon class="mr-1">save</mat-icon>Applying...
    </button>
  </div>
  </form>
</div>
