.dynamic_color {
    color: #555;
    font-size: 12px;
    margin-bottom: 5px;

    @media(max-width: 575px) {
        font-size: 10px;
    }

    +h3.col-blue {
        font-size: 24px !important;

        @media(max-width: 575px) {
            font-size: 20px !important;
        }
    }
}

.date_change {
    margin: 20px;
}

.user_card {
    background: #fff !important;
    min-height: 50px !important;
    position: relative !important;
    margin-bottom: 24px !important;
    border: 1px solid #f2f4f9 !important;
    border-radius: 10px !important;
    box-shadow: rgb(0 0 0 / 10%) 1px 1px 10px !important;
    margin: 0 !important;
    padding: 0;
}

.details {
    display: flex;
}

.mat-icon {
    vertical-align: middle;
}

.singleUser {
    box-shadow: none !important;
}

.leaveReason {
    white-space: break-spaces;
}


mat-panel-title {
    color: var(--color-font-black);

    .user_name_title {
        p {
            margin: 0px;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            span {
                color: rgba(0, 0, 0, 0.87);
                font-size: 12px;
            }
        }
    }

    @media (max-width: 575px) {
        flex: 0 0 calc(100% - 55px);
        max-width: calc(100% - 55px);
        width: calc(100% - 55px);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block !important;
    }
}

.example-action-buttons {
    padding-bottom: 20px;
}

mat-expansion-panel {
    box-shadow: rgb(0 0 0 / 20%) 1px 1px 10px !important;
    border-radius: 10px !important;
    margin: 0px 0px 10px !important;
}

// .example-headers-align .mat-expansion-panel-header-description {
//     justify-content: space-between;
//     align-items: center;
//     color: rgba(0, 0, 0, 0.87);

//     @media (max-width: 575px) {
//         flex: 0 0 30px;
//         max-width: 30px;
//     }
// }

// .example-headers-align .mat-mdc-form-field+.mat-mdc-form-field {
//     margin-left: 8px;
// }

.approved_leave {
    color: var(--theme-color-green);
}

.pending_leave {
    color: var(--theme-color-yellow);
}

.rejected_leave {
    color: var(--theme-color-red);
}

.approve_btn {
    color: var(--theme-color-green);
}

.reject_btn {
    color: var(--theme-color-red);
}

.approve {
    color: var(--theme-color-green);
}

.pending {
    color: var(--theme-color-cico-yellow);
}

.reject {
    color: var(--theme-color-red);
}

.timeline-item {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: var(--theme-color-light-gray);
}

.modal_title_custom {
    color: var(--theme-color-cico-orange);
}

.border-bottom {
    border-bottom: 1px solid darkgray;
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: var(--theme-color-cico-orange) !important;
}

::ng-deep .avatar-content {
    object-fit: cover;
}