.content {
    margin: 20px 0px;
}

.margin_left_auto {
    margin-left: auto;
}

.table_head,
.table_detail {
    text-align: left;
    padding: 10px !important;
    white-space: nowrap;
    text-transform: capitalize;
}
.rect-card ngx-skeleton-loader::ng-deep.loader{
    height: 120px;
    border-radius: 20px;
  }
tr.mat-header-row {
    background: rgb(var(--theme-color-cico-orange-rgb), 5%) !important;

    th {
        color: var(--theme-color-cico-orange) !important;
    }
}

.profile_pic {
    height: 50px;
    width: 50px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    margin: 0px 15px 0px 0px;
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 10%) 1px 1px 10px;

    img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        object-fit: cover;
        min-width: 100%;
        max-width: 100%;
        min-height: 100%;
        max-height: 100%;
    }
}

button.view_form {
    background: none;
    margin: 5px;
    color: var(--theme-color-cico-orange);
    border-radius: 6px;
    border: none;
}

tr.example-detail-row {
    height: 0;
}

.actions {
    display: flex;
    justify-content: center;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.87);

    @media (max-width: 575px) {
        flex: 0 0 30px;
        max-width: 30px;
    }
}

.example-headers-align .mat-mdc-form-field+.mat-mdc-form-field {
    margin-left: 8px;
}

.approved_leave {
    color: var(--theme-color-green);
}

.pending_leave {
    color: var(--theme-color-yellow);
}

.rejected_leave {
    color: var(--theme-color-red);
}

.approve_btn {
    color: var(--theme-color-green);
}

.reject_btn {
    color: var(--theme-color-red);
}

mat-expansion-panel {
    box-shadow: rgb(0 0 0 / 20%) 1px 1px 10px !important;
    border-radius: 10px !important;
    margin: 0px 0px 10px !important;
}

mat-panel-title {
    color: var(--color-font-black);

    .user_name_title {
        p {
            margin: 0px;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            span {
                color: rgba(0, 0, 0, 0.87);
                font-size: 12px;
            }
        }
    }

    @media (max-width: 575px) {
        flex: 0 0 calc(100% - 55px);
        max-width: calc(100% - 55px);
        width: calc(100% - 55px);
        text-overflow: ellipsis;
        overflow: hidden;
        display: block !important;
    }
}

.leaveReason {
    white-space: break-spaces;
}



.table_scrollable {
    width: 100%;
    overflow-x: auto;
}

.table_head,
.table_detail {
    text-align: left;
    padding: 10px !important;
    white-space: nowrap;
    text-transform: capitalize;
}

tr.mat-header-row {
    background: rgb(var(--theme-color-cico-orange-rgb), 5%) !important;

    th {
        color: var(--theme-color-cico-orange) !important;
    }
}

::ng-deep #holiday-card-calendar {
    .cal-month-view {
      border-radius: 16px;
      font-weight: 300;
    }
}

#holiday-card-calendar-month {
    font-weight: 500;
    font-size: 1.25rem;
    margin-top: 0.25rem;
}

.add_holiday_button {
    margin-bottom: 15px;
    float: right;
}

.edit_icon {
    color: var(--theme-color-green);
}

.delete_icon {
    color: var(--theme-color-red);
}

.weight-500 {
    font-weight: 500;
}

.edit_icon {
    color: var(--theme-color-green);
}

.delete_icon {
    color: var(--theme-color-red);
}

.weight-500 {
    font-weight: 500;
}

.color-default {
    color: initial;
}

.btn-group .btn {
    background-color: rgb(var(--theme-color-yellow), 15%);
    color: var(--theme-color-cico-white);
    transform: none;
    border: 0.5px solid var(--theme-color-cico-white);
    transition: all 0.4s;
    padding: 5px 10px;
    box-shadow: none !important;
    font-size: 0.8rem;
    // border-radius: 4px;
    // margin: 2px;
    // padding: 0.25rem 0.7rem;
    // line-height: 1.8rem;
}


.btn-group .btn:hover,
.btn-group .btn:focus,
.btn-group .btn.active,
.btn-group .btn.btn-outline-secondary {
    background-color: var(--theme-color-cico-white);
    color: var(--color-font-black);
}

.holiday-title {
    cursor: pointer;
}
mat-drawer::ng-deep .mat-drawer-inner-container{
    overflow:revert;
    overflow-x: clip;
   }
   @media (max-width: 575px) {
    mat-form-field{
      width: 100%;
    }
    
    ngx-skeleton-loader::ng-deep.loader.circle{
      width: 20px;
      height: 20px;
    }
    .cico-button{
      width: 100%;
      margin-top: 20px;
      margin-bottom: 5px;
    }
   
  }
 