<div class="px-sm-4">
  <div class="row my-3">
    <div class="col-12">
      <div class="row" id="suport-request-skeletone-loader" *ngIf="isLoading">
        <div class="rect-card">
          <ngx-skeleton-loader> </ngx-skeleton-loader>
        </div>
        <div class="rect-card">
          <ngx-skeleton-loader> </ngx-skeleton-loader>
        </div>
        <div class="rect-card">
          <ngx-skeleton-loader> </ngx-skeleton-loader>
        </div>
        <div class="rect-card">
          <ngx-skeleton-loader> </ngx-skeleton-loader>
        </div>
        <div class="rect-card">
          <ngx-skeleton-loader> </ngx-skeleton-loader>
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <button class="me-2" style="border: none">
              <div class="rect-card">
                <ngx-skeleton-loader> </ngx-skeleton-loader>
              </div>
            </button>
            <button class="me-2" style="border: none">
              <div class="rect-card">
                <ngx-skeleton-loader> </ngx-skeleton-loader>
              </div>
            </button>
            <button class="" style="border: none">
              <div class="rect-card">
                <ngx-skeleton-loader> </ngx-skeleton-loader>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!isLoading">
    <div class="row my-3">
      <div class="col-md-12">
        <div class="row request-row d-flex justify-content-between"
          style="background-color: var(--theme-color-cico-orange)">
          <div class="col-4">
            <div class="row">
              <div class="col-12">
                <h4>Type</h4>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="col-12">
                <h4 style="text-align: center">Time</h4>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="col-12">
                <h4 style="text-align: end">Action</h4>
              </div>
            </div>
          </div>
        </div>
        <form *ngIf="regularizeconfig" [formGroup]="regularizeconfig">
          <div formArrayName="regularization">
            <div class="mx-0 reminder_row" *ngFor="let email of regularizationFormGroup.controls;let i = index"
              [formGroupName]="i">
              <!-- dynamic data start -->
              <div class="row my-3">
                <div class="col-md-12">
                  <div class="row request-row">
                    <div class="col-4 d-flex align-items-center">
                      <!-- <mat-form-field class="example-full-width"> -->
                      <input class="input-action" matInput formControlName="type" readonly style="border: 0" />
                      <!-- </mat-form-field> -->
                      <!-- <mat-form-field class="example-full-width"> -->
                      <input class="input-action" matInput formControlName="action" readonly style="border: none" />
                      <!-- </mat-form-field> -->
                    </div>
                    <div class="col-4 d-flex align-items-center justify-content-center">
                      <mat-form-field class="example-full-width">
                        <input matInput
                          [placeholder]="!regularizationFormGroup.controls[i].disabled ? regularizationFormGroup.controls[i].value.action + ' ' + regularizationFormGroup.controls[i].value.type : ''"
                          formControlName="time" (keypress)="numberOnly($event)"
                          (input)="validateLogs($event , i);$event.stopPropagation()" />
                      </mat-form-field>
                    </div>
                    <div class="col-4 d-flex align-items-center justify-content-end">
                      <mat-icon [ngClass]="regularizeRequestData.status !== 'Pending' ? 'disable' : '' "
                        *ngIf="i !== isEditIndex" class="me-2" (click)="updateFormGroup(i)">edit</mat-icon>
                      <mat-icon *ngIf="i === isEditIndex"
                        [ngClass]="!regularizationFormGroup.controls[i].disabled ? 'check-icon' : ''" class="me-2"
                        (click)="updateFormGroup(i)">done_all</mat-icon>
                      <mat-icon class="" style="color: var(--theme-color-red)"
                        [ngClass]="regularizeRequestData.status !== 'Pending' ? 'disable' : '' "
                        (click)="deleteFormGroup(i)">delete</mat-icon>
                    </div>
                    <mat-error *ngIf="i == selectedIndex && !logValid">
                      Input should be in
                      <strong><i>HH:MM:SS</i></strong> only.
                    </mat-error>
                  </div>
                </div>
              </div>
              <!-- dynamic data end -->
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="col-12 px-md-2 d-flex justify-content-start">
      <label>Reason :</label>
    </div>
    <div class="col-12 px-md-2 mb-4" *ngIf="regularizeRequestData && regularizeRequestData.content">
      <span [innerHTML]="regularizeRequestData.content.rendered"></span>
    </div>
    <div class="row" *ngIf="regularizeRequestData && regularizeRequestData.status === 'Pending' ">
      <div class="col-12 d-flex justify-content-center">
        <button (click)="setDefaultRegularizationTime()" mat-raised-button class="me-2 set-d-button"
          [disabled]="!logValid || isEditIndex !== -1">
          Set Shift Time
        </button>
        <button mat-raised-button class="me-2 reject-button" (click)="rejectRegularizeRequest()"
          [disabled]="!logValid || isEditIndex !== -1">Reject</button>
        <button class="save-button" (click)="setRegularizeSave()" mat-raised-button
          [disabled]="!logValid || isEditIndex !== -1">
          Save
        </button>
        <!-- rejected -->
      </div>
    </div>
  </div>
</div>