.rect-card ngx-skeleton-loader::ng-deep .loader {
    height: 50px;
    border-radius: 8px;

}

button .rect-card ngx-skeleton-loader::ng-deep .loader {
    width: 80px;
    height: 25px;
    border: none;
}

.request-row {
    border-radius: 8px;
    padding: 10px 15px;
    // border: 1px solid var(--theme-color-cico-orange);
    background-color: #F4F4F4AB;
}

.request-row h4 {
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 500;
    margin-bottom: 0;
}

.request-row p,
.request-row form,
mat-icon {
    // color: #ffffff;
}

.input-action {
    width: 50px;
    text-transform: capitalize;
    color: #000;
    font-weight: 600;
}

mat-icon {
    cursor: pointer;
    color: var(--theme-color-cico-orange);
}

.check-icon {
    cursor: pointer;
    color: var(--theme-color-green);
}

::ng-deep .mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline {
    background-size: 0px 100% !important;
    background-repeat: no-repeat !important;
    // background-color: white !important;
}

input,
.mat-input-element:disabled {
    // border-bottom: 1px solid rgba(0, 0, 0, 1.0);
    color: #000;
    font-weight: 500;
}

.support-form ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    // background-color: white !important;
    height: 0px;
    display: none;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label span {
    color: #000 !important;
}

button {
    border-radius: 20px;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {

    // height: 0px!important;
}

::ng-deep mat-form-field.example-full-width .mat-form-field-infix {
    width: 90px;

    // hide type of time input...
    input[type=time]::-webkit-datetime-edit-ampm-field {
        display: none;
    }
}

.support-form ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0;
}

button.save-button {
    background-color: var(--theme-color-cico-orange);
    color: #fff;
    // border:1px solid var(--theme-color-green);
    width: 150px;
    border-radius: 14px;
    font-weight: 400;
}

button.set-d-button {
    background-color: none;
    color: var(--theme-color-cico-orange);
    border: 1px solid var(--theme-color-cico-orange);
    width: 150px;
    display: flex;
    justify-content: center;
    border-radius: 14px;
    font-weight: 400;
}

button.reject-button {
    background-color: none;
    color: tomato;
    border: 1px solid tomato;
    width: 150px;
    display: flex;
    justify-content: center;
    border-radius: 14px;
    font-weight: 400;
}

.disable {
    cursor: not-allowed;
}

.disable:active {
    pointer-events: none;
}