.employee-d-flex {
    display: flex !important;
    justify-content: space-between;
}
.reminder_row {
    background: linear-gradient(45deg, #FF8400 0%, #FFCA28 100%);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
    padding: 25px;
}

.mat-input-element {
    color: white;
    font-weight: 550;
    font-size: 16px;
}

.reminder_btn {
    width: 100%;
    border: 1px solid;
    border-radius: 7px;
    font-weight: 400;
    opacity: 0.7;
    background-color: #fff;
}

.highlited_edit_btn {
    background-color: white;
    color: #FF8400 !important;
    margin-right: 15px;
}

.placeholder_btn {
    border: 1px solid white;
    color: #FF8400;
    background-color: white;
    border-radius: 18px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.reminder_btn.mat-stroked-button:hover {
    background: linear-gradient(45deg, #FF8400 0%, #FFCA28 100%);
    color: white;
}

::ng-deep .mat-form-field-appearance-legacy.mat-form-field-disabled .mat-form-field-underline {
    background-size: 0px 100% !important;
    background-repeat: no-repeat !important;
    background-color: white !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: white !important;
}
.edit_reminder {
    color: white;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: white !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: white !important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color: white !important;
}
.side-rect-card ngx-skeleton-loader::ng-deep.loader{
    height: 150px;
    border-radius: 10px;
  }
