<!-- <app-loader *ngIf="isLoading"></app-loader> -->
<div class="mx-4">
  <div class="row">
    <div class="col-12">
      <div class="employee-d-flex mb-2 mt-4">
        <h3 class="page-title float-left">Configure Reminders</h3>
        <!-- <button class="add_user_button cico-button" mat-raised-button (click)="submitConfigForm()">
                    <mat-icon>save</mat-icon>Submit configuration
                </button> -->
      </div>
    </div>
  </div>
  <div class="row" *ngIf="isLoading">
    <div class="side-rect-card p-0">
      <ngx-skeleton-loader> </ngx-skeleton-loader>
    </div>
    <div class="side-rect-card p-0">
      <ngx-skeleton-loader> </ngx-skeleton-loader>
    </div>
    <div class="side-rect-card p-0">
      <ngx-skeleton-loader> </ngx-skeleton-loader>
    </div>
    <div class="side-rect-card p-0">
      <ngx-skeleton-loader> </ngx-skeleton-loader>
    </div>
  </div>
  <div
    *ngIf="!isLoading"
    style="height: 80vh; overflow-y: auto"
    class="content"
  >
    <form [formGroup]="reminderConfig">
      <div *ngIf="reminderConfig">
        <div formArrayName="configurations">
          <div
            class="row mx-0 reminder_row"
            *ngFor="let email of userFormGroups.controls; let i = index"
            [formGroupName]="i"
          >
            <div class="col-md-3 mb-2">
              <mat-form-field class="w-100">
                <input
                  [placeholder]="
                    !userFormGroups.controls[i].disabled ? 'Reminder Time' : ''
                  "
                  matInput
                  formControlName="reminder_time"
                  type="time"
                />
                <mat-error
                  *ngIf="
                    isSubmitted &&
                    userFormGroups.controls[i]
                      .get('reminder_time')
                      ?.hasError('required')
                  "
                >
                  Remidner Time is required.
                </mat-error>
              </mat-form-field>
              <!-- <button *ngIf="!userFormGroups.controls[i].disabled" class="placeholder_btn" mat-stroked-button>Reminder time</button> -->
            </div>
            <div class="col-md-3 mb-2">
              <mat-form-field class="w-100">
                <input
                autoSpellCheck
                  matInput
                  [placeholder]="
                    !userFormGroups.controls[i].disabled ? 'Reminder Title' : ''
                  "
                  formControlName="reminder_title"
                  type="text"
                  [matAutocomplete]="reminderTitleAuto"
                />
                <mat-autocomplete
                  autoActiveFirstOption
                  #reminderTitleAuto="matAutocomplete"
                >
                  <mat-option
                    *ngFor="let _option of filteredTitleOption"
                    [value]="_option"
                  >
                    {{ _option }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error
                  *ngIf="
                    isSubmitted &&
                    userFormGroups.controls[i]
                      .get('reminder_title')
                      ?.hasError('required')
                  "
                >
                  Remidner Title is required.
                </mat-error>
              </mat-form-field>
              <!-- <button *ngIf="!userFormGroups.controls[i].disabled" class="placeholder_btn" mat-stroked-button>Reminder title</button> -->
            </div>
            <div class="col-md-4 mb-2">
              <mat-form-field class="w-100">
                <input
                autoSpellCheck
                  [placeholder]="
                    !userFormGroups.controls[i].disabled
                      ? 'Reminder Message'
                      : ''
                  "
                  matInput
                  formControlName="reminder_message"
                  type="text"
                  [matAutocomplete]="reminderMessageAuto"
                />
                <mat-autocomplete
                  autoActiveFirstOption
                  #reminderMessageAuto="matAutocomplete"
                >
                  <mat-option
                    *ngFor="let _option of filteredMessageOption"
                    [value]="_option"
                  >
                    {{ _option }}
                  </mat-option>
                </mat-autocomplete>
                <mat-error
                  *ngIf="
                    isSubmitted &&
                    userFormGroups.controls[i]
                      .get('reminder_message')
                      ?.hasError('required')
                  "
                >
                  Remidner Message is required.
                </mat-error>
              </mat-form-field>
              <!-- <button *ngIf="!userFormGroups.controls[i].disabled" class="placeholder_btn" mat-stroked-button>Reminder message</button> -->
            </div>
            <div class="col-md-2 d-flex justify-content-center">
              <!-- <button class="float-left" mat-icon-button color="primary" aria-label="Remove/clear"
                                (click)="removeOrClearValue(i)" matTooltip="Remove">
                                <mat-icon>highlight_off</mat-icon>
                            </button> -->
              <!-- <button class="float-left" mat-icon-button color="primary"
                                (click)="enableFormGroup(i)" matTooltip="Edite reminder">
                                <mat-icon>edit</mat-icon>
                            </button> -->
              <button
                *ngIf="
                  !userFormGroups.controls[i].disabled &&
                  !userFormGroups.controls[i].value.isReminderNew
                "
                class="placeholder_btn"
                mat-stroked-button
                (click)="updateReminder(i)"
              >
                Update
              </button>
              <button
                *ngIf="
                  !userFormGroups.controls[i].disabled &&
                  userFormGroups.controls[i].value.isReminderNew
                "
                class="placeholder_btn"
                mat-stroked-button
                (click)="addNewReminder(i)"
              >
                Add
              </button>
              <button
                [ngClass]="
                  !userFormGroups.controls[i].disabled
                    ? 'highlited_edit_btn'
                    : ''
                "
                class="edit_reminder float-left"
                mat-icon-button
                [matMenuTriggerFor]="belowMenu"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <mat-menu #belowMenu="matMenu" yPosition="below">
                <button
                  *ngIf="!userFormGroups.controls[i].value.isReminderNew"
                  class="font-weight-bold"
                  (click)="enableFormGroup(i)"
                  mat-menu-item
                >
                  Edit
                </button>
                <button
                  class="font-weight-bold"
                  (click)="removeOrClearValue(i)"
                  mat-menu-item
                >
                  Delete
                </button>
              </mat-menu>
              <!-- <button
                                *ngIf="!userFormGroups.controls[i].disabled && !userFormGroups.controls[i].value.isReminderNew"
                                class="float-left" mat-icon-button color="primary" aria-label="Remove/clear"
                                (click)="updateReminder(i)" matTooltip="Update Reminder">
                                <mat-icon>update</mat-icon>
                            </button> -->
              <!-- <button *ngIf="i === userFormGroups.controls.length - 1" class="float-left"
                                mat-icon-button color="primary" aria-label="Add" (click)="addConfigFormGroup()"
                                matTooltip="Add">
                                <mat-icon>add_circle_outline</mat-icon>
                            </button> -->
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="row m-0">
    <div class="col-12 p-0">
      <button [disabled]="isLoading"
        class="reminder_btn"
        (click)="addConfigFormGroup()"
        mat-stroked-button
      >
        Add new reminder
      </button>
    </div>
  </div>
</div>
