.content {
    display: flex !important;
    width: 100% !important;
    padding: 0 10px;
}
.buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}
h5 {
    font-weight: 400;
    font-size: 18px;
    color: var(--theme-color-black);
    margin-bottom: 0 !important;
    line-height: 30px;
}
.radio-buttons {
    min-width: 320px;
}
::ng-deep {
    .mat-radio-button {
        padding-left: 10px;
        padding-right: 10px;
    }
    .cdk-overlay-pane {
        @media (max-width: 575px) {
            width: 100% !important;
        }
    }
}