<app-loader *ngIf="isLoading"></app-loader>
<div class="container-fluid">
  <div class="row my-4">
    <div class="col-12">
      <p class="d-flex justify-content-start align-items-center">
        <button class="btn-2 bg-transparent" routerLink="/dashboard">
          Dashboard
        </button>
        <mat-icon class="mx-2">chevron_right</mat-icon>
        <button class="btn-2 bg-transparent" (click)="closeUserProfileDrawer()">
          Employees
        </button>
        <mat-icon class="mx-2">chevron_right</mat-icon>
        {{ selectedUser.full_name }}
      </p>
    </div>
  </div>
  <div class="row" *ngIf="!isLoading">
    <div class="col-12">
      <mat-tab-group class="user-profile-tabs">
        <mat-tab label="Basic Info">
          <form *ngIf="personalInfoForm" [formGroup]="personalInfoForm">
            <div class="row mx-2 my-5">
              <div class="col-12 d-flex justify-content-center">
                <mat-card class="user-profile-card">
                  <!-- @note basic info form is starting from here. -->
                  <div class="row">
                    <div class="col-12 border-bottom pb-2">
                      <h2 style="color: var(--theme-color-cico-orange)">
                        Basic info
                      </h2>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-4">
                      <mat-form-field class="w-100">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="First Name" formControlName="first_name" type="text" />
                        <mat-error id="typeError">First Name is required.</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="w-100">
                        <mat-label>Middle Name</mat-label>
                        <input matInput placeholder="Middle Name" formControlName="middle_name" type="text" />
                        <mat-error id="typeError">Middle Name is required.</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="w-100">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Last Name" formControlName="last_name" type="text" />
                        <mat-error id="typeError">Last Name is required.</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-4">
                      <mat-form-field class="w-100">
                        <mat-label>Employee Id</mat-label>
                        <input matInput placeholder="Employee ID" formControlName="employee_id" type="text" />
                        <mat-error id="typeError">Employee ID is required.</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width w-100" style="position: relative">
                        <mat-label>Date of Birth</mat-label>
                        <mat-datepicker-toggle matIconSuffix [for]="dobPicker"
                          style="position: absolute; right: 10px; bottom: 0px"></mat-datepicker-toggle>
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <input [max]="maxDate" matInput formControlName="date_of_birth"
                          (keypress)="numberDigitOnly($event)" [matDatepicker]="dobPicker" />
                        <mat-datepicker #dobPicker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="w-100">
                        <mat-label>Email Address</mat-label>
                        <input matInput placeholder="Email address" formControlName="email" type="email" />
                        <mat-error id="typeError">Email is required.</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                      <button class="user-profile-btn cancel-btn" (click)="closeUserProfileDrawer()" mat-raised-button>
                        Close
                      </button>
                      <button class="user-profile-btn save-btn" *ngIf="!loading" [disabled]="personalInfoForm.controls['first_name'].invalid || personalInfoForm.controls['last_name'].invalid || personalInfoForm.controls['middle_name'].invalid || personalInfoForm.controls['employee_id'].invalid || personalInfoForm.controls['email'].invalid"
                        (click)="updateAllFormInfo('basicInfoForm')" mat-raised-button>
                        Save 
                      </button>
                      <button class="user-profile-btn save-btn" *ngIf="loading" mat-raised-button>
                        Saving...
                      </button>
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
          </form>
        </mat-tab>
        <!-- @note work info form is starting from here. -->
        <mat-tab label="Work Info">
          <form *ngIf="personalInfoForm" [formGroup]="personalInfoForm">
            <div class="row mx-2 my-5">
              <div class="col-12 d-flex justify-content-center">
                <mat-card class="user-profile-card">
                  <div class="row">
                    <div class="col-12 border-bottom pb-2">
                      <h2 style="color: var(--theme-color-cico-orange)">
                        Work Info
                      </h2>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <mat-label>Department</mat-label>
                        <!-- <input matInput placeholder="Department" formControlName="department" /> -->
                        <mat-select formControlName="department">
                          <mat-option *ngFor="let item of department" value="{{ item.id }}">
                            {{ item.title }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <mat-label>Choose Role</mat-label>
                        <mat-select formControlName="designation">
                          <mat-option *ngFor="let role of roleList" value="{{ role.id }}">
                            {{ role.title }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <mat-label>Source of hire</mat-label>
                        <mat-select formControlName="hiring_source">
                          <mat-option value="Direct"> Direct </mat-option>
                          <mat-option value="Referral"> Referral </mat-option>
                          <mat-option value="Web"> Web </mat-option>
                          <mat-option value="Newspaper"> Newspaper </mat-option>
                          <mat-option value="Advertisement"> Advertisement </mat-option>
                          <mat-option value="Social Network"> Social Network </mat-option>
                          <mat-option value="Other"> Other </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <mat-label>Employee status</mat-label>
                        <!-- <input matInput placeholder="Employee status" formControlName="status" /> -->
                        <mat-select formControlName="status">
                          <mat-option *ngFor="let item of empStatus" value="{{ item.type }}">
                            {{ item.type }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 d-flex align-items-end">
                      <mat-form-field>
                        <mat-label>Reporting to</mat-label>
                        <mat-select formControlName="reporting_to">
                          <mat-option *ngFor="let role of reportingManagerList" value="{{ role.user_id }}">
                            {{ role.full_name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width" style="position: relative">
                        <mat-label>Date of Hire</mat-label>

                        <mat-datepicker-toggle matIconSuffix [for]="picker"
                          style="position: absolute; right: 10px; bottom: 0px"></mat-datepicker-toggle>
                        <mat-hint>MM/DD/YYYY</mat-hint>

                        <input [max]="maxDate" matInput [matDatepicker]="picker" (keypress)="numberDigitOnly($event)"
                          formControlName="hiring_date" />
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <mat-label>Work phone</mat-label>
                        <input matInput placeholder="Work phone" (keypress)="numberDigitOnly($event)" type="tel"
                          formControlName="work_phone" type="tel"/>
                          <mat-error *ngIf="personalInfoForm.get('work_phone')?.hasError('invalidMobileNumber')">Please enter a mobile number with at least 10 digits</mat-error>
                        <!-- <mat-hint>Please enter mobile number digit 10 is required.</mat-hint> -->
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <mat-label>Employee type</mat-label>
                        <!-- <input matInput placeholder="Employee type" formControlName="type" /> -->
                        <mat-select formControlName="type">
                          <mat-option *ngFor="let item of workingType" value="{{ item.type }}">
                            {{ item.value }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                      <button class="user-profile-btn cancel-btn" (click)="closeUserProfileDrawer()" mat-raised-button>
                        Close
                      </button>
                      <button  *ngIf="!loading"
                        (click)="updateAllFormInfo('workInfoForm')" class="user-profile-btn save-btn" mat-raised-button>
                        Save
                      </button>
                      <button *ngIf="loading" class="user-profile-btn save-btn" mat-raised-button>
                        Saving...
                      </button>
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
          </form>
        </mat-tab>
        <mat-tab label="Personal Info">
          <form *ngIf="personalInfoForm" [formGroup]="personalInfoForm">
            <div class="row mx-2 my-5">
              <div class="col-12 d-flex justify-content-center">
                <mat-card class="user-profile-card">
                  <div class="row">
                    <div class="col-12 border-bottom pb-2">
                      <h2 style="color: var(--theme-color-cico-orange)">
                        Personal Info
                      </h2>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <mat-label>Father's Name</mat-label>
                        <input matInput placeholder="Father's Name" formControlName="father_name" />
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <mat-label>Mother's Name</mat-label>
                        <input matInput placeholder="Mother's Name" formControlName="mother_name" />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <mat-label>Spouse Name</mat-label>
                        <input matInput placeholder="Spouse Name" formControlName="spouse_name" />
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <mat-label>Personal Email</mat-label>
                        <input matInput placeholder="Personal Email" formControlName="other_email" />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 d-flex align-items-end">
                      <mat-form-field>
                        <mat-label>Gender</mat-label>
                        <mat-select formControlName="gender">
                          <mat-option value="male"> Male </mat-option>
                          <mat-option value="female"> Female </mat-option>
                          <mat-option value="unspecified">Unspecified</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <mat-label>Personal phone</mat-label>
                        <input matInput placeholder="Personal phone" (keypress)="numberDigitOnly($event)" type="tel"
                          formControlName="mobile" />
                          <mat-error *ngIf="personalInfoForm.get('mobile')?.hasError('invalidMobileNumber')">Please enter a mobile number with at least 10 digits</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 d-flex align-items-end">
                      <mat-form-field>
                        <mat-label>Marital_status</mat-label>
                        <mat-select formControlName="marital_status">
                          <mat-option value="married">Married </mat-option>
                          <mat-option value="unmarried">Unmarried </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <mat-label>Blood Group</mat-label>
                        <!-- <input matInput placeholder="Name" formControlName="blood_group" /> -->
                        <mat-select formControlName="blood_group">
                          <mat-option value="AB+">AB+</mat-option>
                          <mat-option value="AB-">AB-</mat-option>
                          <mat-option value="A+">A+</mat-option>
                          <mat-option value="A-">A-</mat-option>
                          <mat-option value="B+">B+</mat-option>
                          <mat-option value="B-">B-</mat-option>
                          <mat-option value="O+">O+</mat-option>
                          <mat-option value="O-">O-</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <mat-label>Address Line 1</mat-label>
                        <input matInput placeholder="Address Line 1" formControlName="address" />
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <mat-label>Address Line 2</mat-label>
                        <input matInput placeholder="Address Line 2" formControlName="street_1" />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <mat-label>City</mat-label>
                        <input matInput placeholder="City" formControlName="city" />
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <mat-label>State</mat-label>
                        <input matInput placeholder="City" formControlName="state" />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <mat-label>Country</mat-label>
                        <input matInput placeholder="Country" formControlName="country" />
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <mat-label>Pin Code</mat-label>
                        <input (keypress)="numberDigitOnly($event)" matInput placeholder="Pin Code"
                          formControlName="postal_code" />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <mat-label>Nationality</mat-label>
                        <input matInput placeholder="nationality" formControlName="nationality" />
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <mat-label>Hobbies</mat-label>
                        <input matInput placeholder="Hobbies" formControlName="hobbies" />
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row mt-3">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                      <button class="user-profile-btn cancel-btn" (click)="closeUserProfileDrawer()" mat-raised-button>
                        Close
                      </button>
                      <button (click)="updateAllFormInfo('personalInfoForm')" *ngIf="!loading"
                        class="user-profile-btn save-btn" mat-raised-button>
                        Save
                      </button>
                      <button *ngIf="loading" class="user-profile-btn save-btn" mat-raised-button>
                        Saving...
                      </button>
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
          </form>
        </mat-tab>
        <mat-tab label="Work Experience">
          <div class="row mx-2 my-5" *ngIf="!noData">
            <div class="col-12 d-flex justify-content-center">
              <mat-card style="width: 100%" class="user-profile-card">
                <div class="row">
                  <div class="col-md-6 pb-2">
                    <h2 style="color: var(--theme-color-cico-orange)">
                      Work Experience
                    </h2>
                  </div>
                  <div class="col-md-6 pb-3 d-flex justify-content-end align-items-center">
                    <button mat-raised-button class="user-profile-btn-add save-btn"
                      (click)="openDialog('workExperience')">
                      <mat-icon class="mx-1 my-1 h-100">add_circle</mat-icon>Add
                      Experience
                    </button>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-12 tabel-responsive">
                    <table mat-table [dataSource]="dataSource" matSort #workExpSort="matSort" >
                      <ng-container matColumnDef="company_name" class="company_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_head table_theme_color">
                          Company Name
                        </th>
                        <td mat-cell *matCellDef="let element" class="table_detail text_capital">
                          {{ element.company_name ? element.company_name : '-' }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="job_title" class="job_title">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_head table_theme_color">
                          Job Title
                        </th>
                        <td mat-cell *matCellDef="let element" class="table_detail text_capital">
                          {{ element.job_title ? element.job_title : '-' }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="from" class="from">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_head table_theme_color">
                          Form Date
                        </th>
                        <td mat-cell *matCellDef="let element" class="table_detail text_capital">
                          {{ element.from ? (element.from | date: 'dd-MM-YYYY') : '-' | date : "dd-MM-YYYY" }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="to" class="to">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_head table_theme_color">
                          To Date
                        </th>
                        <td mat-cell *matCellDef="let element" class="table_detail text_capital">
                          {{ element.to ? (element.to | date: 'dd-MM-YYYY')  : '-' | date : "dd-MM-YYYY" }}
                        </td>
                      </ng-container>
                      <!-- <ng-container matColumnDef="description" class="description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_head table_theme_color">
                          Description
                        </th>
                        <td mat-cell *matCellDef="let element" class="table_detail text_capital">
                          {{ element.description ? element.description : '-' }}
                        </td>
                      </ng-container> -->
                      <ng-container matColumnDef="Action" class="Action">
                        <th mat-header-cell *matHeaderCellDef class="table_head table_theme_color">
                          Action
                        </th>
                        <td mat-cell *matCellDef="let element" class="table_detail text_capital">
                          <mat-icon class="me-2" style="color: #ff8400; cursor: pointer"
                            (click)="editUserdetails(element, 'workExperience')">edit</mat-icon>
                          <mat-icon class="me-2" style="
                              color: var(--theme-color-red);
                              cursor: pointer;
                            " (click)="
                              deleteConfirmation(element, 'workExperience')
                            ">delete</mat-icon>
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="WorkExperience"></tr>
                      <tr mat-row *matRowDef="let row; columns: WorkExperience"></tr>
                    </table>
                    <div class="col-12 d-flex justify-content-center align-items-center" *ngIf="workData === 0">
                      <img src="../../../assets/images/no-data.svg" alt="No data" width="320PX" />
                    </div>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Education">
          <div class="row mx-2 my-5" *ngIf="!noData">
            <div class="col-12 d-flex justify-content-center">
              <mat-card style="width: 100%" class="user-profile-card">
                <div class="row">
                  <div class="col-md-6 pb-2">
                    <h2 style="color: var(--theme-color-cico-orange)">
                      Education Info
                    </h2>
                  </div>
                  <div class="col-md-6 pb-3 d-flex justify-content-end align-items-center">
                    <button mat-raised-button class="user-profile-btn-add add-btn"
                      (click)="openDialog('educationInfo')">
                      <mat-icon class="mx-1 my-1 h-100">add_circle</mat-icon>Add
                      Education
                    </button>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-12 tabel-responsive">
                    <table mat-table [dataSource]="educationData" matSort #educationSort="matSort">
                      <ng-container matColumnDef="school" class="school">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_head table_theme_color">
                          School Name
                        </th>
                        <td mat-cell *matCellDef="let element" class="table_detail text_capital">
                          {{ element.school ? element.school : '-' }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="degree" class="degree">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_head table_theme_color">
                          Degree
                        </th>
                        <td mat-cell *matCellDef="let element" class="table_detail text_capital">
                          {{ element.degree ? element.degree : '-' }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="finished" class="finished">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_head table_theme_color">
                          Year of completion
                        </th>
                        <td mat-cell *matCellDef="let element" class="table_detail text_capital">
                          {{ element.finished ? element.finished : '-' }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="result_type" class="result_type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_head table_theme_color">
                          Result Type
                        </th>
                        <td mat-cell *matCellDef="let element" class="table_detail text_capital">
                          {{ element.result_type ? element.result_type : '-' }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="result" class="result">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_head table_theme_color">
                          Result
                        </th>
                        <td mat-cell *matCellDef="let element" class="table_detail text_capital">
                          {{ element.result ? element.result : '-' }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="field" class="field">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_head table_theme_color">
                          Field of Study
                        </th>
                        <td mat-cell *matCellDef="let element" class="table_detail text_capital">
                          {{ element.field ? element.field : '-' }}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="interest" class="interest">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_head table_theme_color">
                          Interest
                        </th>
                        <td mat-cell *matCellDef="let element" class="table_detail text_capital">
                          {{ element.interest ? element.interest : '-' }}
                        </td>
                      </ng-container>
                      <!-- <ng-container matColumnDef="notes" class="notes">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="table_head table_theme_color">
                          Notes
                        </th>
                        <td mat-cell *matCellDef="let element" class="table_detail text_capital">
                          {{ element.notes ? element.notes : '-' }}
                        </td>
                      </ng-container> -->
                      <ng-container matColumnDef="Action" class="Action">
                        <th mat-header-cell *matHeaderCellDef class="table_head table_theme_color">
                          Action
                        </th>
                        <td mat-cell *matCellDef="let element" class="table_detail text_capital">
                          <mat-icon class="me-2" style="color: #ff8400; cursor: pointer"
                            (click)="editUserdetails(element, 'leducationInfo')">edit</mat-icon>
                          <mat-icon class="me-2" style="
                              color: var(--theme-color-red);
                              cursor: pointer;
                            " (click)="
                              deleteConfirmation(element, 'educationInfo')
                            ">delete</mat-icon>
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="EducationInfo"></tr>
                      <tr mat-row *matRowDef="let row; columns: EducationInfo"></tr>
                    </table>
                    <div class="col-12 d-flex justify-content-center align-items-center" *ngIf="eduData === 0">
                      <img src="../../../assets/images/no-data.svg" alt="No data" width="320PX" />
                    </div>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<div class="col-12 d-flex justify-content-center" *ngIf="noData">
  <img style="margin-top: 0.5rem;" src="../../../assets/images/no-data.svg" alt="No data" width="320" />
</div>