<div>
    <h1 mat-dialog-title class="mat-dialog-title modal_title_custom light-underline text-red text-capitalize">
        <mat-icon>{{ data.headerIcon }}</mat-icon>
        <span>
            {{ data.header }}
        </span>
    </h1>
    <mat-dialog-content>
        <div class="content">
            <h5>{{ data.message }}</h5>
        </div>
    </mat-dialog-content>
</div>
<mat-dialog-actions class="job-action">
    <div class="buttons">
        <button mat-raised-button (click)="confirmReminder(true)" color="warn" class="yes-btn button_hover_effect">
            <mat-icon class="mr-1">check_circle</mat-icon>
            Yes
        </button>
        <button mat-raised-button (click)="confirmReminder(false)" color="primary" class="delete-btn close_hover_effect">
            <mat-icon class="mr-1">cancel</mat-icon>
            No
        </button>
    </div>
</mat-dialog-actions>