<mat-drawer-container hasBackdrop="false" class="h-100 mx-4">
  <mat-drawer #drawer1 mode="over" position="end" class="side-drawer px-1">
    <!-- SIDE PANEL CONTENT -->
    <div class="row my-2">
      <div class="col-12 d-flex justify-content-end">
        <mat-icon mat-icon-button class="pointer" (click)="closeDrawer()"
          >close</mat-icon
        >
      </div>
    </div>
    <div class="row">
      <div class="col-12 p-0">
        <app-apply-leave
          (leave)="getAllLeave()"
          [emplUserLeave]="empLeave"
        ></app-apply-leave>
      </div>
    </div>
  </mat-drawer>

  <!-- Leave detail drawer start -->
  <mat-drawer
    #leaveDetailDrawer
    mode="over"
    class="side-drawer px-1"
  >
    <div class="row my-4 px-sm-3">
      <div class="col-8">
        <h1 class="mat-dialog-title modal_title_custom m-0">
          <span> Leave Details </span>
        </h1>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-start">
        <button class="pointer close btn" (click)="closeDrawer()">Close</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 p-0">
        <app-calendar-leave-modal
          [leaveDetail]="leaveDetails"
          (handleRejection)="handleLeave($event)"
        ></app-calendar-leave-modal>
      </div>
    </div>
  </mat-drawer>
  <!-- Leave detail drawer end -->

  <mat-drawer-content class="mt-4">
    <div class="row my-2">
      <div class="col-md-9">
        <h3 class="page-title float-left">Leaves</h3>
        <div>{{ totalLeavesCount }} leave requests</div>
        <div class="my-2">
          <div class="row" *ngIf="loading">
            <div class="col-12 d-sm-flex">
              <div class="selection-loader">
                <ngx-skeleton-loader> </ngx-skeleton-loader>
              </div>
              <div class="search-loader">
                <ngx-skeleton-loader> </ngx-skeleton-loader>
              </div>
            </div>
          </div>
          <mat-form-field
            class="date_packer"
            appearance="outline"
            *ngIf="!loading"
          >
            <mat-label>Leave status</mat-label>
            <mat-select
              [(value)]="userLeaveStatus"
              (selectionChange)="applyFilter()"
              [disabled]="!empLeave.length"
            >
              <mat-option value="">All</mat-option>
              <mat-option *ngFor="let leave of leaveList" [value]="leave">{{
                leave == 1 ? "Approved" : leave == 3 ? "Rejected" : "Pending"
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field
            class="search_bar mx-sm-3"
            appearance="outline"
            *ngIf="!loading"
          >
            <mat-label>Search by employees</mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <input
              matInput
              placeholder="Search by employees"
              type="text"
              [(ngModel)]="searchInput"
              (ngModelChange)="applyFilter()"
              [disabled]="!empLeave.length"
            />
          </mat-form-field>
        </div>
      </div>
      <div
        class="col-md-3 d-flex justify-content-end d-sm-block text-end mb-3 mb-sm-0"
      >
        <button
          mat-raised-button
          class="cico-button"
          (click)="openDrawer()" [disabled]="loading"
        >
          Apply Leave
        </button>
      </div>
    </div>

    <div class="row my-2">
      <div class="col-lg-9">
        <div
          class="row m-0"
          id="calender-skeletone-loader-leave-list"
          *ngIf="loading"
        >
          <div class="col-12 rect-card m-0 p-0">
            <ngx-skeleton-loader> </ngx-skeleton-loader>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
          <div class="col-2 p-0">
            <div class="calender-skel">
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                  <ngx-skeleton-loader appearance="circle">
                  </ngx-skeleton-loader>
                </div>
              </div>
            </div>
          </div>
        </div>
        <mat-card class="cico-card p-0 pt-3 p-sm-3" *ngIf="!loading">
          <mat-card-title>
            <h3 class="ps-3 p-sm-0 page-title" style="color: #fff !important">
              Leaves Calendar
            </h3>
          </mat-card-title>
          <mat-card-content class="m-2 radi-16">
            <div class="row">
              <div class="col-md-8">
                <h4 id="leave-card-calendar-month " class="ps-2 p-sm-0">
                  {{ viewDate | calendarDate : view + "ViewTitle" : "en" }}
                </h4>
              </div>
              <div class="col-md-4 mb-4 mb-sm-0 color-default">
                <div class="btn-group d-flex justify-content-end">
                  <div
                    class="btn btn-primary"
                    mwlCalendarPreviousView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    (viewDateChange)="activeDayIsOpen = false"
                    (click)="onChange(viewDate, view)"
                  >
                    Previous
                  </div>
                  <div
                    class="btn btn-outline-secondary"
                    mwlCalendarToday
                    [(viewDate)]="viewDate"
                    (click)="onChange(viewDate, view)"
                  >
                    Today
                  </div>
                  <div
                    class="btn btn-primary"
                    mwlCalendarNextView
                    [view]="view"
                    [(viewDate)]="viewDate"
                    (viewDateChange)="activeDayIsOpen = false"
                    (click)="onChange(viewDate, view)"
                  >
                    Next
                  </div>
                </div>
              </div>
            </div>
            <div id="leave-card-calendar" class="color-default">
              <mwl-calendar-month-view
                [viewDate]="viewDate"
                [events]="events"
                [refresh]="refresh"
                [activeDayIsOpen]="activeDayIsOpen"
                (dayClicked)="dayClicked($event.day)"
                (eventClicked)="handleEvent($event.event)"
                (eventTimesChanged)="eventTimesChanged($event)"
              >
              </mwl-calendar-month-view>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-lg-3 h-700 mt-4 mt-lg-0">
        <div
          class="row"
          *ngIf="loading"
          id="skeletone-loader-leave-list-side-calender"
        >
          <div
            class="col-2 border-top pt-2 p-0 d-flex d-lg-block justify-content-center"
          >
            <ngx-skeleton-loader appearance="circle"> </ngx-skeleton-loader>
          </div>
          <div class="col-4 border-top pt-3">
            <ngx-skeleton-loader> </ngx-skeleton-loader>
            <ngx-skeleton-loader> </ngx-skeleton-loader>
          </div>
          <div class="col-6 border-top"></div>
          <div class="col-2"></div>
          <div class="col-10">
            <div class="rect-card">
              <ngx-skeleton-loader> </ngx-skeleton-loader>
            </div>
          </div>

          <div
            class="col-2 border-top pt-2 p-0 d-flex d-lg-block justify-content-center"
          >
            <ngx-skeleton-loader appearance="circle"> </ngx-skeleton-loader>
          </div>
          <div class="col-4 border-top pt-3">
            <ngx-skeleton-loader> </ngx-skeleton-loader>
            <ngx-skeleton-loader> </ngx-skeleton-loader>
          </div>
          <div class="col-6 border-top"></div>
          <div class="col-2"></div>
          <div class="col-10">
            <div class="rect-card">
              <ngx-skeleton-loader> </ngx-skeleton-loader>
            </div>
          </div>
          <div
            class="col-2 border-top p-0 pt-2 d-flex d-lg-block justify-content-center"
          >
            <ngx-skeleton-loader appearance="circle" class="m-0">
            </ngx-skeleton-loader>
          </div>
          <div class="col-4 border-top pt-3">
            <ngx-skeleton-loader> </ngx-skeleton-loader>
            <ngx-skeleton-loader> </ngx-skeleton-loader>
          </div>
          <div class="col-6 border-top"></div>
          <div class="col-2"></div>
          <div class="col-10">
            <div class="rect-card">
              <ngx-skeleton-loader> </ngx-skeleton-loader>
            </div>
          </div>
        </div>
        <div *ngIf="userLeave.length > 0 && !loading">
          <div
            class="row"
            role="list"
            *ngFor="let item of userLeave"
            (click)="openLeaveDetail(item)"
          >
            <div class="col-12" style="cursor: pointer" role="listitem">
              <div class="row m-0">
                <div class="col-2 p-0 d-flex justify-content-center">
                  <ngx-avatar
                    class="theme_avatar"
                    size="40"
                    name="{{
                      item.employee_name.split(' ')[0] +
                        ' ' +
                        item.employee_name.split(' ')[2]
                    }}"
                  ></ngx-avatar>
                </div>
                <div class="col-10">
                  <div>
                    <h4 class="mb-0 weight-500">
                      {{ item.employee_name | titlecase }}
                    </h4>
                    <!-- <p class="my-0">RAO003</p> -->
                    <p>{{ item.employee_id }}</p>
                    <p class="my-0  weight-500">
                      {{ item.start_date | date : "dd-MM-YYYY" }} to
                      {{ item.end_date | date : "dd-MM-YYYY" }}
                      ({{ item.days | number }}
                      {{ item.days > 1 ? "days" : "day" }}) 
                    </p>
                    <p class="my-0">
                      {{ item.day_status_id == "1" ? "Full Day" : undefined }}
                      {{ item.day_status_id == "2" ? "First Half" : undefined }}
                      {{
                        item.day_status_id == "3" ? "Second Half" : undefined
                      }}
                      |
                      {{ item.policy_name }}
                    </p>
                    <p class="my-0 weight-500" [ngSwitch]="item.status">
                      <span *ngSwitchCase="'1'" class="approved_leave "
                        >Approved</span
                      >
                      <span *ngSwitchCase="'2'" class="pending_leave "
                        >Pending</span
                      >
                      <span *ngSwitchCase="'3'" class="rejected_leave "
                        >Rejected</span
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <mat-divider class="my-1 pb-2"></mat-divider>
          </div>
        </div>
        <!-- <ng-template #noLeaves> -->
        <div *ngIf="userLeave.length === 0 && !loading" style="width: 100%">
          <!-- <div class="col-12 col-md-3 col-sm-12 text-center"> -->
          <div class="text-center">
            <p class="my-0 weight-500" [ngSwitch]="userLeaveStatus">
              <span *ngSwitchCase="'1'" class="text-gray"
                >No approved leaves</span
              >
              <span *ngSwitchCase="'2'" class="text-gray"
                >No pending leaves</span
              >
              <span *ngSwitchCase="'3'" class="text-gray"
                >No rejected leaves</span
              >
            </p>
          </div>
        </div>
        <!-- </ng-template> -->
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<!-- @note User list in cards -->
<!-- <div class="row">
    <div class="col-3 my-2" *ngFor="let item of userLeave">
        <mat-card class="cico-card">
            <mat-card-content>
                <div class="row">
                    <div class="col-12 d-flex align-items-center">
                        <ngx-avatar class="theme_avatar" size="40" name="{{ item.employee_name }}"></ngx-avatar>
                        <div>
                            <h4 class="mb-0 weight-500">{{ item.employee_name | titlecase }}</h4>
                            <p>RAO003</p>
                        </div>
                    </div>
                </div>
                <div class="row weight-500">
                    <div class="col-10">
                        <p>{{ item.start_date | date : "dd-MM-YYYY" }} to
                            {{ item.end_date | date : "dd-MM-YYYY" }}
                            ({{item.days | number}} {{item.days > 1 ? 'days': 'day'}})</p>
                        <p class="my-0">
                            {{item.day_status_id  == '1' ? 'Full Day' : undefined}}
                            {{item.day_status_id  == '2' ? 'First Half' : undefined}}
                            {{item.day_status_id  == '3' ? 'Second Half' : undefined}}
                        </p>
                    </div>
                    <div class="col-2"></div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <app-no-data msg="No Data Found" *ngIf="userLeave && !userLeave.length"></app-no-data>
</div> -->
