<div class="mx-4">
    <div class="row my-4">
        <div class="col-8">
            <h1 class="Setting-header">
                <h3>Company Settings</h3>
            </h1>
        </div>
    </div>
    <div class="company-settings">
        <mat-tab-group class="user-profile-tabs">
            <mat-tab label="Company Information">
                <form [formGroup]="companySettingsForm">
                    <div class="row mt-3 form-content">
                        <div class="col-md-6">
                            <mat-form-field class="w-100">
                                <mat-label>Company Name</mat-label>
                                <input matInput placeholder="Company Name" formControlName="companyName" type="text">
                                <mat-error id="typeError">
                                    Company name is required.
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="w-100">
                                <mat-label>Auto Clock Out Time</mat-label>
                                <input matInput formControlName="autoClockOutTime" type="time">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <button class="user-profile-btn save-btn" mat-raised-button>
                            Save
                        </button>
                    </div>
                </form>
            </mat-tab>


            <!-- Company Info Tab -->
            <mat-tab label="Company Location">
                <form [formGroup]="companySettingsForm">

                    <div class="row mt-3 form-content">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <agm-map [zoom]="8" [latitude]="latitude" [longitude]="longitude" id="editMap"
                                    style="height: 300px">
                                    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                                        (dragEnd)="markerDragEnd($event)"></agm-marker>
                                </agm-map>
                            </div>
                        </div>
                        <div class="col-md-6" formArrayName="multipleLocation">
                            <div *ngFor="let item of locationDetails.controls; let i = index; let first = first"
                                [formGroupName]="i">
                                <div class="row m-0">
                                    <div class="col-9 col-xl-10 py-3 col-xxl-11">
                                        <mat-accordion>
                                            <mat-expansion-panel [expanded]="selectedIndex === i"
                                                (opened)="setStep(i, item)">
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        <span *ngIf="item.value.title === ''">
                                                            Location {{ i + 1 }}
                                                        </span>
                                                        <span *ngIf="item.value.title !== ''">
                                                            {{ item.value.title }}
                                                        </span>
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <div class="row mt-3 form-content">
                                                    <div class="col-md-4">
                                                        <mat-form-field class="w-100">
                                                            <mat-label>Location Title</mat-label>
                                                            <input matInput placeholder="Enter Location Title"
                                                                formControlName="title">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <mat-form-field class="w-100">
                                                            <mat-label>Radius</mat-label>
                                                            <input matInput placeholder="Enter Radius (in meters)"
                                                                formControlName="radius">
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <mat-form-field class="w-100">
                                                            <mat-label>Time Zone</mat-label>
                                                            <mat-select formControlName="timezone" class="select">
                                                                <mat-option *ngFor="let timeZone of timeZones"
                                                                    [value]="timeZone">
                                                                    {{ timeZone }}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </div>
                                    <div class="col-3 col-xl-2 d-flex col-xxl-1 align-items-center">
                                        <div class>
                                            <button *ngIf="first" (click)="addLocation()" mat-button placement="left"
                                                ngbTooltip="Add Location" triggers="hover" tooltipClass="tooltip-class">
                                                <i class="fa fa-plus-circle text-blue location-button"></i>
                                            </button>
                                            <button
                                                *ngIf="locationDetails.controls && locationDetails.controls.length > 1 "
                                                (click)="deleteLocation(i)" mat-button placement="left"
                                                ngbTooltip="Remove Location" triggers="hover"
                                                tooltipClass="tooltip-class">
                                                <i class="fa fa-times-circle text-red location-button"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <button class="user-profile-btn save-btn" mat-raised-button>
                            Save
                        </button>
                    </div>
                </form>
            </mat-tab>


            <!-- Shift Info Tab -->
            <mat-tab label="Company Shift">
                <form [formGroup]="companySettingsForm">
                    <div class="row mt-3 form-content">
                        <div class="col-md-6">
                            <mat-form-field class="w-100">
                                <mat-label>Shift Start Time</mat-label>
                                <input matInput formControlName="shiftStartTime" type="time">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="w-100">
                                <mat-label>Shift End Time</mat-label>
                                <input matInput [disabled]="true" placeholder="Shift End Time" type="time">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <button (click)="sendcompanyData()" class="user-profile-btn save-btn" mat-raised-button>
                            Save
                        </button>
                    </div>
                </form>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>