.user-profile-tabs {
    ::ng-deep .mat-tab-label {
        width: calc(100%/5);
    }
    ::ng-deep .mat-ink-bar {
        // color: #FF8400 !important;
        background-color: #FF8400 !important;
        height: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}
.company-settings {
    width: auto;
}

.Setting-header {
    font-size: 1.75rem !important;
}

.save-btn {
    width: 250px;
    margin-top: 24px;
    border-radius: 8px;
    border: none;
    background-color: rgb(var(--theme-color-cico-orange-rgb), 100%) !important;
    ;
    color: white;
    cursor: pointer;
}

.add-btns {
    margin: auto 0;
    display: flex;

    button {
        padding: 0px 0px 0px 7px !important;
    }
}

.select {
    overflow: scroll;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    color: #FF8400;    
}