.sidebar a {
  display: flex;
  color: var(--color-font-black);
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  align-items: center;

  &.active-link,
  &:hover {
    color: var(--theme-color-cico-orange) !important;
    background: rgb(var(--theme-color-cico-yellow-rgb), 50%) !important;
  }

  mat-icon {
    margin: 0px 10px;
    font-size: 30px;
    height: 30px;
    width: 30px;
  }
}

mat-divider {
  background-color: rgba(255, 255, 255, 0.5);
}

#bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--color-font-black) !important;
  width: 100%;

  .bottom-icon {
    display: flex;
    align-items: center;
    padding: 10px 20px;

    .arrow-icon {
      float: right;
      border-radius: 50%;
      margin-left: 3px;
      cursor: pointer;
      background-color: #303030;
      color: #e0e0e0;

      &.right_align {
        margin-left: auto;
      }
    }
  }
}

.logo_img {
  .img_logo {
    padding: 10px 0px;
    width: auto;
    height: 70px;
  }

  .toggle_logo {
    width: auto;
    height: 70px;
    padding: 10px;
  }
}


.version {
  color: var(--theme-color-cico-orange);
}