<div>
  <div class="sidebar">
    <div>
      <div class="logo_img">
        <img *ngIf="isMenuOpened" src="../../../assets/images/new_logo.png" class="img_logo" />
        <img *ngIf="!isMenuOpened" src="../../../assets/images/new_logo_icon.png" class="toggle_logo" />
      </div>
    </div>
    <div>
      <a routerLinkActive="active-link" routerLink="/dashboard" (click)="changeTab('dashboard')" *ngIf="isMenuOpened">
        <mat-icon>dashboard</mat-icon>
        <span class="tab_name">Dashboard</span>
      </a>
      <a matTooltip="Dashboard" routerLinkActive="active-link" routerLink="/dashboard" matTooltipPosition="right"
        (click)="changeTab('dashboard')" *ngIf="!isMenuOpened" class="toggle_nav">
        <mat-icon class="toggle_icon">dashboard</mat-icon>
      </a>
    </div>
    <div>
      <a (click)="changeTab('users')" routerLink="/users/list" *ngIf="isMenuOpened" routerLinkActive="active-link">
        <mat-icon>people_alt</mat-icon>
        <span class="tab_name">Users</span>
      </a>
      <a matTooltip="Users" matTooltipPosition="right" routerLink="/users/list" (click)="changeTab('users')"
        *ngIf="!isMenuOpened" class="toggle_nav" routerLinkActive="active-link">
        <mat-icon class="toggle_icon">people_alt</mat-icon>
      </a>
    </div>

    <div>
      <a routerLinkActive="active-link" routerLink="/hrms/leaves" (click)="changeTab('hrms-leaves')"
        *ngIf="isMenuOpened">
        <mat-icon>work_off</mat-icon>
        <span class="tab_name">Leaves</span>
      </a>

      <a matTooltip="Leaves" routerLinkActive="active-link" routerLink="/hrms/leaves" matTooltipPosition="right"
        (click)="changeTab('hrms-leaves')" *ngIf="!isMenuOpened" class="toggle_nav">
        <mat-icon *ngIf="pendingCount" matBadge="{{ pendingCount }}" matBadgeColor="warn"
          class="toggle_icon">work_off</mat-icon>
        <mat-icon *ngIf="!pendingCount" class="toggle_icon">work_off</mat-icon>
      </a>
    </div>

    <div>
      <a routerLinkActive="active-link" routerLink="/hrms/holidays" (click)="changeTab('hrms-holidays')"
        *ngIf="isMenuOpened">
        <mat-icon>calendar_today</mat-icon>
        <span class="tab_name">Holiday Calendar</span>
      </a>

      <a matTooltip="Holiday Calendar" routerLinkActive="active-link" routerLink="/hrms/holidays"
        matTooltipPosition="right" (click)="changeTab('hrms-holidays')" *ngIf="!isMenuOpened" class="toggle_nav">
        <mat-icon class="toggle_icon">calendar_today</mat-icon>
      </a>
    </div>
    <div>
      <a routerLinkActive="active-link" routerLink="/reminder-configure" (click)="changeTab('reminder-configure')"
        *ngIf="isMenuOpened">
        <mat-icon>alarm_add</mat-icon>
        <span class="tab_name">Configure reminders</span>
      </a>
      <a matTooltip="Reminder notifications" routerLinkActive="active-link" routerLink="/reminder-configure"
        matTooltipPosition="right" (click)="changeTab('reminder-configure')" *ngIf="!isMenuOpened" class="toggle_nav">
        <mat-icon class="toggle_icon">alarm_add</mat-icon>
      </a>
      <a routerLinkActive="active-link" routerLink="/attendance-regularize" (click)="changeTab('attendance-regularize')"
        *ngIf="isMenuOpened">
        <mat-icon> live_help</mat-icon>
        <span class="tab_name">Support Request</span>
      </a>
    </div>
    <a matTooltip="Support Request" routerLinkActive="active-link" routerLink="/attendance-regularize"
      matTooltipPosition="right" (click)="changeTab('attendance-regularize')" *ngIf="!isMenuOpened" class="toggle_nav">
      <mat-icon *ngIf="pendingRegularizationCount" matBadge="{{ pendingRegularizationCount }}" matBadgeColor="warn"
        class="toggle_icon"> live_help</mat-icon>
      <mat-icon *ngIf="!pendingRegularizationCount" matBadgeColor="warn" class="toggle_icon"> live_help</mat-icon>
    </a>
    <!-- <div>
      <a routerLink="/users/list" *ngIf="isMenuOpened" routerLink="/setting" routerLinkActive="active-link">  
        <mat-icon>settings</mat-icon>
        <span class="tab_name">Settings</span>
      </a>
      <a matTooltip="Settings" matTooltipPosition="right" *ngIf="!isMenuOpened" routerLink="/setting" class="toggle_nav"
        routerLinkActive="active-link">
        <mat-icon class="toggle_icon">settings</mat-icon>
      </a>
    </div> -->
  </div>

  <!-- </div> -->
  <div id="bottom" class="bottom sidebar">
    <!-- logout -->
    <div>
      <a (click)="logOut()" *ngIf="isMenuOpened" routerLinkActive="active-link" class="logout-nav-bar">
        <mat-icon>logout</mat-icon>
        <span class="tab_name">Log Out</span>
      </a>
      <a (click)="logOut()" matTooltip="logout" matTooltipPosition="right" *ngIf="!isMenuOpened" class="toggle_nav">
        <mat-icon class="toggle_icon toggle_icon_logout">logout</mat-icon>
      </a>
    </div>
    <!-- logout done -->
    <div class="bottom-icon">
      <p *ngIf="isMenuOpened" class="m-0 version">v{{appVersion}}</p>
      <mat-icon (click)="onToggle()" matTooltip="Collapse" matTooltipPosition="right" *ngIf="isMenuOpened"
        class="arrow-icon right_align">keyboard_arrow_left</mat-icon>
      <mat-icon class="arrow-icon" matTooltip="Expand" matTooltipPosition="right" (click)="onToggle()"
        *ngIf="!isMenuOpened">keyboard_arrow_right</mat-icon>
    </div>
  </div>
</div>