<div class="p-sm-5" id="dashboard-history">
  <h1 class="mat-dialog-title modal_title_custom">
    <mat-icon class="mr-1">history</mat-icon>
    <span>{{ presentFilter ? "Present logs" : "Late start" }}</span>
  </h1>

  <div class="row gx-0 mb-2">
    <div class="col-lg-auto col-md-auto">
      <mat-form-field class="date_packer me-5" appearance="outline">
        <mat-label>Apply filter</mat-label>
        <mat-select [(ngModel)]="selectedFilterOption" (selectionChange)="onChange($event)" [disabled]="isLoading">
          <mat-option *ngFor="let option of filterOptions" [value]="option.value">{{ option.title }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-auto col-md-auto" [hidden]="isLoading">
      <form [formGroup]="range">
        <mat-form-field>
          <mat-label>Enter date</mat-label>
          <input matInput [matDatepicker]="dateFilter" (dateChange)="dateChange($event)" formControlName="filterDate"
            [max]="maxDate" />
          <mat-datepicker-toggle matSuffix [for]="dateFilter"></mat-datepicker-toggle>
          <mat-datepicker #dateFilter></mat-datepicker>
          <mat-hint>MM/DD/YYYY</mat-hint>
        </mat-form-field>
      </form>
    </div>
  </div>
  <log [logs]="displayLogs" [responseLength]="responseLength" [displayedColumns]="displayedColumns" from="single-user"
    (onPaginate)="onPaginate($event)" [isExport]="false" [noData]="noDataMsg" [loading]="isLoading"></log>
</div>