.nodata {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}

mat-form-field {
  width: calc(100% - 10%);
}

@media (max-width: 575px) {
  .mat-form-field {
    width: 100%;
  }
}

// @media only screen and (min-width: 576px) {
//   .date-filter {
//     width: calc(100% - 10%);    
//   }
// }

table.mat-table.fatigue-table,
table {
  width: 100%;
}

//   .mat-row {
//     text-align: center;
//   }
.table_scrollable {
  width: 100%;
  overflow-x: auto;
}

button.close {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 14px;
}


tr.mat-header-row {
  background: rgb(var(--theme-color-cico-orange-rgb), 5%) !important;

  th {
    color: var(--theme-color-cico-orange) !important;
  }
}

.red {
  color: var(--theme-color-red);
  font-weight: 500;
  border-color: var(--theme-color-red);
}

.green {
  color: var(--theme-color-green);
  font-weight: 500;
}

.orange {
  color: var(--theme-color-yellow);
  font-weight: 500;
}

// .mat-row {
//   text-align: center;
// }
.badge {
  padding: 5px 8px;
  width: 75px;
  line-height: 12px;
  border: 1px solid;
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  display: inline-block;
}

.rect-card ngx-skeleton-loader::ng-deep .loader {
  height: 50px;

}

.table_scrollable {
  width: 100%;
  overflow-x: auto;
}

.mat-elevation-z8 {
  overflow-x: auto;
}

.table_head,
.table_detail {
  text-align: left;
  padding: 10px !important;
  white-space: nowrap;
  text-transform: capitalize;
}

mat-icon {
  cursor: pointer;
}

mat-drawer-content {
  overflow-x: hidden;
  overflow-y: auto;
}

//  ::-webkit-scrollbar {
//   height: 8px !important;
// }
// ::-webkit-scrollbar-track {
//   background: #f1f1f1; 
// }
// ::-webkit-scrollbar-thumb {
//   background: var(--theme-color-cico-orange)!important; 
// }


.search-loader ngx-skeleton-loader::ng-deep.loader {
  height: 54px;
  border-radius: 6px;
  min-width: 250px;
  max-width: 450px;
  margin-right: 20px;
}

.selection-loader ngx-skeleton-loader::ng-deep.loader {
  height: 54px;
  border-radius: 6px;
  min-width: 200px;
  max-width: 200px;
  margin-right: 20px;
}