<div *ngIf="data.modalType === 'workExperience'">
    <div class="container-fluid workexperience-modal">
        <form [formGroup]="workexperienceForm">
            <div class="row">
                <div class="col-12 border-bottom pb-2">
                    <h2>Work Experience</h2>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-5 d-flex align-items-center">
                    <p>Previous Company</p>
                </div>
                <div class="col-7">
                    <mat-form-field class="example-full-width">
                        <mat-label>Previous Company</mat-label>
                        <input matInput placeholder="Previous Company" formControlName="company_name" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-5 d-flex align-items-center">
                    <p>Job Title</p>
                </div>
                <div class="col-7">
                    <mat-form-field class="example-full-width">
                        <mat-label>Job Title</mat-label>
                        <input matInput placeholder="Job Title" formControlName="job_title" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-5 d-flex align-items-center">
                    <p>From</p>
                </div>
                <div class="col-7">
                    <mat-form-field class="example-full-width" style="position: relative">
                        <mat-label>from</mat-label>

                        <mat-datepicker-toggle matIconSuffix [for]="from"
                            style="position: absolute; right: 10px; bottom: 0px"></mat-datepicker-toggle>
                        <mat-hint>MM/DD/YYYY</mat-hint>

                        <input matInput [matDatepicker]="from" [max]="maxDate"  (keypress)="numberOnly($event)" formControlName="from" />
                        <mat-datepicker #from></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-5 d-flex align-items-center">
                    <p>To</p>
                </div>
                <div class="col-7">
                    <mat-form-field class="example-full-width" style="position: relative">
                        <mat-label>To</mat-label>

                        <mat-datepicker-toggle matIconSuffix [for]="to"
                            style="position: absolute; right: 10px; bottom: 0px"></mat-datepicker-toggle>
                        <mat-hint>MM/DD/YYYY</mat-hint>

                        <input matInput [matDatepicker]="to" [max]="maxDate"  (keypress)="numberOnly($event)" formControlName="to" />
                        <mat-datepicker #to></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-5 d-flex align-items-center">
                    <p>Job Description</p>
                </div>
                <div class="col-7">
                    <mat-form-field class="example-full-width">
                        <mat-label>Job Description</mat-label>
                        <textarea matInput placeholder="Ex. It makes me feel..."
                            formControlName="description"></textarea>
                    </mat-form-field>
                </div>
            </div> -->
            <div class="row my-3">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <button class="user-profile-btn cancel-btn" mat-raised-button (click)="resetWrokExperienceField()">
                        Cancel
                    </button>
                    <button class="user-profile-btn save-btn" *ngIf="!loading" [disabled]="!workexperienceForm.valid" (click)="updateWorkExperience()"
                        mat-raised-button>Save</button>
                    <button class="user-profile-btn save-btn" *ngIf="loading" mat-raised-button>Saving...</button>
                </div>
            </div>
        </form>
    </div>

</div>

<div *ngIf="data.modalType === 'educationInfo'">
    <div class="container-fluid workexperience-modal">
        <form [formGroup]="educationInfoForm">
            <div class="row">
                <div class="col-12 border-bottom pb-2">
                    <h2>Education Information</h2>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-5 d-flex align-items-center">
                    <p>School Name</p>
                </div>
                <div class="col-7">
                    <mat-form-field class="example-full-width">
                        <mat-label>School Name</mat-label>
                        <input matInput placeholder="School name" formControlName="school" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-5 d-flex align-items-center">
                    <p>Degree</p>
                </div>
                <div class="col-7">
                    <mat-form-field class="example-full-width">
                        <mat-label>Degree</mat-label>
                        <input matInput placeholder="Degree" formControlName="degree" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-5 d-flex align-items-center">
                    <p>Year of completion</p>
                </div>
                <div class="col-7"> <mat-form-field>
                        <mat-label>Year of completion</mat-label>
                        <mat-select matNativeControl formControlName="finished" name="car">
                            <mat-option value="{{item}}" *ngFor="let item of completionYearRange">{{item}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-5 d-flex align-items-center">
                    <p>Result</p>
                </div>
                <div class="col-7">
                    <mat-form-field class="example-full-width">
                        <mat-label>Result</mat-label>
                        <mat-select formControlName="resulttype" (selectionChange)="selectChangeHandler($event)">
                            <mat-option value="grade"> Grade </mat-option>
                            <mat-option value="percentage"> Percentage </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <!-- @note selection value is depends on it's type  -->
            <div *ngIf="educationInfoForm.value['resulttype'] === 'grade'">
                <div class="row">
                    <div class="col-5 d-flex align-items-center">
                        <p>Result (Grade) </p>
                    </div>
                    <div class="col-7">
                        <mat-form-field class="example-full-width">
                            <mat-label>Result (Grade)</mat-label>
                            <input matInput placeholder="result" formControlName="result" />
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div *ngIf="educationInfoForm.value['resulttype'] === 'percentage'">
                <div class="row">
                    <div class="col-5 d-flex align-items-center">
                        <p>Percentage</p>
                    </div>
                    <div class="col-7">
                        <mat-form-field class="example-full-width">
                            <mat-label>Percentage</mat-label>
                            <input matInput placeholder="Percentage" (keypress)="numberOnly($event)" formControlName="result" />
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-5 d-flex align-items-center">
                    <p>Field of Study</p>
                </div>
                <div class="col-7">
                    <mat-form-field class="example-full-width">
                        <mat-label>Field of Study</mat-label>
                        <input matInput placeholder="Field of Study" formControlName="field" />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-5 d-flex align-items-center">
                    <p>Interest</p>
                </div>
                <div class="col-7">
                    <mat-form-field class="example-full-width">
                        <mat-label>Interest</mat-label>
                        <input matInput placeholder="Interest" formControlName="interest" />
                    </mat-form-field>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-5 d-flex align-items-center">
                    <p>Notes</p>
                </div>
                <div class="col-7">
                    <mat-form-field class="example-full-width">
                        <mat-label>Additional Notes</mat-label>
                        <textarea matInput placeholder="Ex. It makes me feel..." formControlName="notes"></textarea>
                    </mat-form-field>
                </div>
            </div> -->
            <div class="row my-3">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <button class="user-profile-btn cancel-btn" mat-raised-button (click)="resetEducationField()">
                        Cancel
                    </button>
                    <button class="user-profile-btn save-btn" *ngIf="!loading" [disabled]="!educationInfoForm.valid" (click)="updateEducationInfoForm()"
                        mat-raised-button>Save</button>
                    <button class="user-profile-btn save-btn" *ngIf="loading" mat-raised-button>Saving...</button>
                </div>
            </div>
        </form>
    </div>

</div>