.chart-exe {
  margin: 0 !important;
  max-height: 150px;
  width: auto;
  // max-width: 150px;
  // z-index: 1;
  // position: absolute;
}
.avg-chart{
  margin: 0!important;
  width: auto;
  // max-width: 150px;
  // z-index: 1;
  // position: absolute;
}
.average-chart{
  display: block;
  box-sizing: border-box;
  height: 277px;
  width: 550px;
}