<div style="width: 400px; height: 10%;">
    <h1 mat-dialog-title class="mat-dialog-title modal_title_custom light-underline text-red text-capitalize">
        <mat-icon>lock_open</mat-icon>
        <span>
           Forgot Password
        </span>
    </h1>
    <mat-dialog-content>
        <div class="content">
            <form>
                <div>
                    <mat-form-field class="w-100">
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" formControlName="email" />
                    </mat-form-field>
                </div>
            </form>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions class="job-action">
        <div class="buttons w-100">
            <button (click)="confirmReminder(true)" class="user-profile-btn save-btn" mat-raised-button>
                Forgot Password
            </button>
        </div>
    </mat-dialog-actions>
</div>