<div class="p-sm-5">
  <h1 class="mat-dialog-title modal_title_custom light-underline">
    <mat-icon class="mr-1">add_circle</mat-icon>
    <span>
      {{ modelTitle }}
    </span>

    <button
      mat-icon-button
      color="warn"
      class="float-right"
      (click)="onDelete()"
      *ngIf="data"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </h1>
  <form [formGroup]="newUser">
    <div *ngIf="newUser">
      <div class="row">
        <div class="col-12 mb-2">
          <mat-form-field class="w-100">
            <input
              matInput
              placeholder="Name"
              formControlName="name"
              type="text"
              required
            />
            <mat-error id="typeError">Name is required.</mat-error>
          </mat-form-field>
        </div>
        <div class="col-12 mb-2">
          <mat-form-field class="w-100">
            <input
              matInput
              placeholder="description"
              formControlName="description"
              type="text"
              required
            />
            <mat-error id="typeError">Description is required.</mat-error>
          </mat-form-field>
        </div>

        <div class="col-12 mb-2">
          <mat-form-field class="w-100">
            <input
              matInput
              placeholder="Start Date"
              formControlName="start_date"
              (input)="validateLogs($event)"
              type="date"
              required
            />
            <mat-error id="typeError">Start Date is required.</mat-error>
          </mat-form-field>
        </div>

        <div class="col-12 mb-2">
          <mat-form-field class="w-100">
            <input
              matInput
              placeholder="end date"
              formControlName="end_date"
              (input)="validateLogs($event)"
              type="date"
              required
            />
            <mat-error id="typeError">End Date is required.</mat-error>
          </mat-form-field>
          <mat-error *ngIf="dateValid">
            Date should be in
            <strong><i>DD-MM-YYYY</i></strong> only.
          </mat-error>

        </div>
      </div>
    </div>
    <!-- <div class="justify-content-center" *ngIf="isLoading">
      <app-loader></app-loader>
    </div> -->

    <div class="justify-content-center text-center" *ngIf="!isLoading">
      <button
        [disabled]="!newUser.valid"
        mat-raised-button
        class="cico-button"
        (click)="addHoliday()"
        type="submit"
      >
        <mat-icon class="mr-1">save</mat-icon>Save
      </button>
    </div>
  </form>
</div>
