.btn-group .btn {
  // background-color: linear-gradient(45deg, #FF8400 0%, #FFCA28 100%);
  background-color: #FF8400;
  color: var(--theme-color-cico-white);
  transform: none;
  border: 0.5px solid var(--theme-color-cico-orange);
  transition: all 0.4s;
  padding: 5px 10px;
  box-shadow: none !important;
  font-size: 0.8rem;
  // border-radius: 4px;
  // margin: 2px;
  // padding: 0.25rem 0.7rem;
  // line-height: 1.8rem;
}

.selected_month {
  color: var(--darkGray);
}

.btn-group .btn:hover,
.btn-group .btn:focus,
.btn-group .btn.active,
.btn-group .btn.btn-outline-secondary {
  background-color: var(--theme-color-cico-white);
  color: var(--color-font-black);
}

.attendance_card {
  display: flex;
  justify-content: center;
}

.rect-card ngx-skeleton-loader::ng-deep.loader {
  height: 190px;
  border-radius: 20px;
}

.calender-skel ngx-skeleton-loader::ng-deep.loader.circle {
  // width: 15px;
  // height: 15px;
}

.calender-skel {
  height: 50px;
}

.side-rect-card ngx-skeleton-loader::ng-deep.loader {
  height: 250px;
  border-radius: 20px;
}

.squar-card ngx-skeleton-loader::ng-deep.loader {
  height: 585px;
  border-radius: 20px;
}

.squar-full-card ngx-skeleton-loader::ng-deep.loader {
  height: 100px;
  border-radius: 20px;
}

.content {
  margin: 20px 0px;
}

.total_employee {
  padding: 30px;
  font-size: 30px;
  margin: 20px;
  text-align: center;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
  color: #777;
}

// .user_list {
//     margin: 20px;
//     box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
// }

.search_bar {
  float: left;
}

.form_field {
  display: flex;
  justify-content: space-around;
}

.card-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  align-content: flex-end;
}

.card-image-1 {
  background-image: url("../../assets/images/leaves.png");
}

.card-image-2 {
  background-image: url("../../assets//images/present.png");
}

.card-image-3 {
  background-image: url("../../assets/images/absent.png");
}

.card-image-1,
.card-image-2,
.card-image-3 {
  background-repeat: no-repeat;
  background-size: auto 205px;
  background-position: center left 30%;
  background-color: #dbf1ff;
}

.card-content span {
  font-size: 1.3em;
  color: var(--theme-color-cico-orange);
}

.cardinto-showd {
  background-color: #ffffff;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: flex-end;
  box-shadow: none;
}

.card-content p {
  font-size: 3em;
  font-weight: bold;
  color: var(--color-font-black);
  margin-top: 30px;
}

.present-apset .card {
  height: 155px;
  min-height: 155px;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 20%) 1px 1px 10px !important;
  cursor: pointer;
}

/* Responsive Css */

@media (max-width: 1199px) {
  .card {
    display: inline-block;
    margin-bottom: 10px;
  }

  .d-inline-block span {
    width: 100%;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 35px;
  }

  .card-image-1,
  .card-image-2,
  .card-image-3 {
    background-position: center left 20%;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 30px;
  }

  .card-image-1,
  .card-image-2,
  .card-image-3 {
    background-position: center left 10%;
  }
}

.custom_text_left {
  text-align: left;

  @media(max-width: 767px) {
    text-align: center;
  }
}

.custom_text_right {
  text-align: right;

  @media(max-width: 767px) {
    text-align: center;
  }
}

.px-3 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.card-select {
  border-bottom: 4px solid var(--theme-color-cico-orange);
  box-shadow: 0 2px 4px 0 rgba(219, 215, 215, 0.04);
  // transition: $transition;
}

.menu-icon {
  z-index: 999;
}

.margin_left_auto {
  margin-left: auto;
}

.list {
  color: var(--theme-color-cico-orange);
}

button.userList {
  border-radius: 100%;
  border-color: var(--theme-color-cico-orange);
  margin: 8px;
}

button.noSelected {
  border-radius: 100%;
  border-color: #303030;
}

::ng-deep .cal-month-view .cal-event-title {
  cursor: pointer;
  text-transform: capitalize;
}


.custom-dash-card {
  // background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  background: linear-gradient(45deg, #FF8400 0%, #FFCA28 100%);
  color: white !important;
}

.custom-dash-card-2 {
  // background: linear-gradient(-135deg, #e9d022 0%, #e60b09 80%);
  // background
  color: initial;
  box-shadow: none !important;
}

.content-white {
  background: white;
  color: initial;
  border-radius: 16px;
}

.chart-exe {
  margin: 0 !important;
  max-height: 150px;
  width: auto;
  // max-width: 150px;
  // z-index: 1;
  // position: absolute;
}

.chart-count {
  font-size: 3.5rem;
  text-align: center;
  font-weight: bolder;
  margin-top: 1rem;

}

.chart-card-content {
  color: white;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


#gender-chart-card,
#emp-type-chart-card {
  ul {
    padding-left: 0;
    list-style-type: disc;
  }

  ul>li {
    display: inline-block;
    margin-left: 0.5rem;
  }

  ul>li:first-child {
    margin-left: 0;
  }
}

.custom-card-footer {
  margin-left: 0.3rem;
}

.overflow-scroll {
  overflow: hidden;
  overflow-y: scroll;
}

.h-450 {
  min-height: 450px;
  max-height: 450px;
  overflow: auto;
}

::ng-deep #employee-tab-group {
  .mat-tab-header {
    border-bottom: 0 !important;
  }

  .mat-tab-label {
    height: 28px;
    min-width: 2rem;
    text-align: start;
    padding: 0.5rem 1rem;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
  }
}

.user-avatar {
  border-radius: 50%;
}

.radi-50 {
  border-radius: 16px;
}

.color-default {
  color: initial;
}

::ng-deep #holiday-card-calendar {
  .cal-month-view {
    border-radius: 16px;
    font-weight: 300;
  }
}

#holiday-card-calendar-month {
  font-weight: 500;
  font-size: 1.25rem;
  margin-top: 0.25rem;
}

/* Mat tab ink bar */
::ng-deep .mat-ink-bar {
  background-color: var(--theme-color-cico-white) !important;
}

.clock-in-map {
  width: auto !important;
  height: 500px !important;
  border-radius: 16px;

  // margin: -26px !important;

}

::ng-deep .agm-info-window-content {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0 10px 10px 0 !important;
}

::ng-deep .agm-marker-avatar {
  img {
    // transform: rotate(-90deg);
  }
}

.employee-image {
  // transform: rotate(-90deg);
}

.history-side-drawer {
  min-width: 100%;
  max-width: 100%;
}

button.close {
  border: none;
  background: none;
}

@media(max-width:575px) {
  .rect-card ngx-skeleton-loader::ng-deep.loader {
    height: 170px;
    border-radius: 20px;
  }

  ngx-skeleton-loader::ng-deep.loader.circle {
    width: 20px;
    height: 20px;
  }
}

@media(max-width:767px) {
  .rect-card ngx-skeleton-loader::ng-deep.loader {
    height: 135px;
    border-radius: 20px;
  }
}

@media(max-width:991px) {
  .rect-card ngx-skeleton-loader::ng-deep.loader {
    height: 110px;
    border-radius: 20px;
  }

  .mat-card-title {
    font-size: 16px;
  }

  .chart-count {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .rect-card ngx-skeleton-loader::ng-deep.loader {
    height: 125px;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 1399px) and (min-width: 1200px) {
  .rect-card ngx-skeleton-loader::ng-deep.loader {
    height: 145px;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 1600px) and (min-width: 1400px) {
  .rect-card ngx-skeleton-loader::ng-deep.loader {
    height: 153px;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 1800px) and (min-width: 1601px) {
  .rect-card ngx-skeleton-loader::ng-deep.loader {
    height: 170px;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 2000px) and (min-width: 1801px) {
  .rect-card ngx-skeleton-loader::ng-deep.loader {
    height: 190px;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 2200px) and (min-width: 2001px) {
  .rect-card ngx-skeleton-loader::ng-deep.loader {
    height: 210px;
    border-radius: 20px;
  }
}


.custom-dash-card .mat-list-base .mat-list-item {
  color: var(--theme-color-cico-white) !important;
}