<mat-drawer-container hasBackdrop="false" class="h-100 mx-4">
  <mat-drawer #dashboardDrawer mode="over" position="end" class="history-side-drawer px-sm-4 w-100">
    <!-- SIDE PANEL CONTENT -->
    <div class="row my-2">
      <div class="col-12 d-flex justify-content-end">
        <mat-icon mat-icon-button class="pointer" (click)="closeDrawer()">close</mat-icon>
      </div>
    </div>
    <div *ngIf="isPresentFilter" class="row">
      <div class="col-12 p-0">
        <app-dashboard-history [presentFilter]="isPresentFilter"></app-dashboard-history>
      </div>
    </div>
    <div *ngIf="isLateFilter" class="row">
      <div class="col-12 p-0">
        <app-dashboard-history [lateFilter]="isLateFilter"></app-dashboard-history>
      </div>
    </div>

  </mat-drawer>

  <!-- Leave detail drawer start -->
  <mat-drawer #leaveDetailDrawer mode="over" class="side-drawer px-1">
    <div class="row my-4 px-sm-3">
      <div class="col-8">
        <h1 class="mat-dialog-title modal_title_custom m-0">
          <span> Leave Details </span>
        </h1>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-start">
        <button class="pointer close" (click)="closeDrawer()">Close</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 p-0">
        <app-calendar-leave-modal [leaveDetail]="leaveDetails"
          (handleRejection)="handleLeave($event)"></app-calendar-leave-modal>
      </div>
    </div>
  </mat-drawer>
  <!-- Leave detail drawer end -->

  <mat-drawer-content class="mt-4">
    <div class="m-sm-4">
      <div class="row">
        <div class="col-md-3 mb-4 mb-sm-0 px-2">
          <div class="rect-card" *ngIf="!isLateCount">
            <ngx-skeleton-loader> </ngx-skeleton-loader>
          </div>
          <mat-card *ngIf="isLateCount" (click)="opentDashboardHistoryDrawer('present')" class="custom-dash-card p-0"
            style="cursor: pointer">
            <mat-card-title class="p-3">Present Today</mat-card-title>
            <mat-card-content>
              <div class="row">
                <div class="col-8">
                  <canvas #PresentCountChart class="chart-exe"></canvas>
                </div>
                <div class="col-4 chart-card-content">
                  <p class="chart-count">{{ present }}</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-md-3 mb-4 mb-sm-0 px-2">
          <div class="rect-card" *ngIf="!isLateCount">
            <ngx-skeleton-loader> </ngx-skeleton-loader>
          </div>
          <mat-card *ngIf="isLateCount" (click)="opentDashboardHistoryDrawer('lateClockIn')"
            class="custom-dash-card p-0" style="cursor: pointer">
            <mat-card-title class="p-3"> Late Start </mat-card-title>
            <mat-card-content>
              <div class="row">
                <div class="col-8">
                  <canvas #LateCountChart class="chart-exe"></canvas>
                </div>
                <div class="col-4 chart-card-content">
                  <p class="chart-count">{{ lateCount }}</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-md-3 mb-4 mb-sm-0 px-2">
          <div class="rect-card" *ngIf="!isOvertimeLogLoaded">
            <ngx-skeleton-loader> </ngx-skeleton-loader>
          </div>
          <mat-card class="custom-dash-card p-0" *ngIf="isOvertimeLogLoaded">
            <mat-card-title class="p-3"> Over Time</mat-card-title>
            <mat-card-content>
              <div class="row">
                <div class="col-8">
                  <canvas #OvertimeCountChart class="chart-exe"></canvas>
                </div>
                <div class="col-4 chart-card-content">
                  <p class="chart-count">0</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-md-3 mb-4 mb-sm-0 px-2">
          <div class="rect-card" *ngIf="!isLeaveCount">
            <ngx-skeleton-loader> </ngx-skeleton-loader>
          </div>
          <mat-card class="custom-dash-card p-0" *ngIf="isLeaveCount">
            <mat-card-title class="p-3"> On Leave </mat-card-title>
            <mat-card-content>
              <div class="row">
                <div class="col-8">
                  <canvas #LeaveCountChart class="chart-exe"></canvas>
                </div>
                <div class="col-4 chart-card-content">
                  <!-- <p class="chart-count">{{ absent }}</p> -->
                  <p class="chart-count">{{ leaveCount }}</p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <div class="row my-4">
        <div class="col-lg-9">
          <div class="row" id="calender-skeletone-loader" *ngIf="isLoading">
            <div class="rect-card">
              <ngx-skeleton-loader> </ngx-skeleton-loader>
            </div>
            <div class="col-2" *ngFor="let n of numSequence(36)">
              <div class="calender-skel">
                <div class="row">
                  <div class="col-4"></div>
                  <div class="col-4">
                    <ngx-skeleton-loader appearance="circle">
                    </ngx-skeleton-loader>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <mat-card *ngIf="!isLoading" class="custom-dash-card-2 px-0">
            <mat-card-title class="mx-2">
              Holiday & Leaves Calendar
            </mat-card-title>
            <mat-card-content class="m-2 radi-50">
              <div class="row">
                <div class="col-sm-8">
                  <h4 id="holiday-card-calendar-month">
                    {{ viewDate | calendarDate : view + "ViewTitle" : "en" }}
                  </h4>
                </div>
                <div class="col-sm-4 mb-2 mb-sm-0 color-default">
                  <div class="btn-group d-flex justify-content-end">
                    <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                      (viewDateChange)="activeDayIsOpen = false" (click)="onChange(view)">
                      Previous
                    </div>
                    <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate"
                      (click)="onChange(view)">
                      Today
                    </div>
                    <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                      (viewDateChange)="activeDayIsOpen = false" (click)="onChange(view)">
                      Next
                    </div>
                  </div>
                </div>
              </div>
              <div id="holiday-card-calendar" class="color-default">
                <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" [refresh]="refresh"
                  [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
                  (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-month-view>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-lg-3">
          <div class="row">
            <div class="side-rect-card" *ngIf="!isGenderRatio">
              <ngx-skeleton-loader> </ngx-skeleton-loader>
            </div>
            <div class="col-12 mb-3" *ngIf="isGenderRatio">
              <mat-card id="gender-chart-card" class="custom-dash-card">
                <mat-card-content>
                  <div class="row">
                    <div class="col-12">
                      <canvas #GenderRatioChart class="chart-exe"></canvas>
                      <h4 class="weight-500 mb-1">Gender Ratio</h4>
                      <ul class="mb-0">
                        <li *ngFor="let gender of genderList">
                          <span class="weight-500">{{ gender.gender }}</span>
                          ({{ gender.count }})
                        </li>
                      </ul>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="side-rect-card" *ngIf="!isEmployeetype">
              <ngx-skeleton-loader> </ngx-skeleton-loader>
            </div>

            <div class="col-12 my-2" *ngIf="isEmployeetype">
              <mat-card id="emp-type-chart-card" class="custom-dash-card">
                <mat-card-content>
                  <div class="row">
                    <div class="col-10">
                      <canvas #EmployeeTypesChart class="chart-exe" height="50"></canvas>
                      <h4 class="weight-500 mb-1">Employment Types</h4>
                      <ul class="mb-0">
                        <li *ngFor="let type of employmentTypes | keyvalue">
                          <span class="weight-500">{{ type.key }}</span> ({{
                          type.value
                          }})
                        </li>
                      </ul>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="side-rect-card" *ngIf="!locationData">
              <ngx-skeleton-loader> </ngx-skeleton-loader>
            </div>

            <div class="col-12 mt-3" *ngIf="locationData">
              <mat-card id="gender-chart-card" class="custom-dash-card">
                <mat-card-content>
                  <div class="row">
                    <div class="col-12">
                      <canvas #LocationRatioChart class="chart-exe"></canvas>
                      <h4 class="weight-500 mb-1">
                        Employee Location Distribution
                      </h4>
                      <ul class="mb-0">
                        <li *ngFor="let data of locationData | keyvalue">
                          <span class="weight-500">{{ data.key }}</span> ({{
                          data.value
                          }})
                        </li>
                      </ul>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-lg-6 mb-4 mb-xl-0">
          <div class="squar-card" *ngIf="!isAttendance">
            <ngx-skeleton-loader> </ngx-skeleton-loader>
          </div>
          <mat-card class="custom-dash-card" *ngIf="isAttendance">
            <mat-card-title>
              <div class="row my-3">
                <div class="col-2 d-flex align-items-start">
                  <p class="chart-count">{{ AvgAttendanceCount }}</p>
                </div>
                <div class="col-12 mt-2">
                  <h4 class="weight-500">28 day attendance average</h4>
                </div>
              </div>
            </mat-card-title>
            <mat-card-content class="h-450 d-flex align-items-end">
              <canvas #AvgAttendanceChart></canvas>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-lg-6 mb-4 mb-xl-0">
          <div class="squar-card" *ngIf="!isLateCount">
            <ngx-skeleton-loader> </ngx-skeleton-loader>
          </div>
          <mat-card class="custom-dash-card h-585" *ngIf="isLateCount">
            <mat-card-title>
              <div class="row my-3">
                <div class="col-6 d-flex align-items-center">Employees</div>
                <div class="col-6 d-flex justify-content-end align-items-center">
                  <p class="chart-count">{{ logsCopy.length }}</p>
                </div>
              </div>
            </mat-card-title>
            <mat-card-content class="h-450">
              <mat-tab-group id="employee-tab-group" mat-align-tabs="start" class="h-450 overflow-scroll">
                <mat-tab label="Clocked in ({{ present }})">
                  <mat-list>
                    <mat-list-item *ngFor="let user of filterList('present')"
                      class="d-flex justify-content-left align-items-start my-4">
                      <!-- <img src="assets/images/person.jpg" height="50" width="50" class="user-avatar mx-3" /> -->
                      <!-- <ngx-avatar class="user-avatar theme_avatar mx-3" size="40" name="{{user.name}}"></ngx-avatar> -->
                      <ngx-avatar class="user-avatar theme_avatar mx-3" size="40" name="{{
                          user.name.split(' ')[0] +
                            ' ' +
                            user.name.split(' ')[2]
                        }}"></ngx-avatar>
                      <div>
                        <div class="weight-500">
                          {{ user.name | titlecase }}
                        </div>
                        <div>{{ user.type }}</div>
                        <div>Clock-in {{ user.clockIn }}</div>
                      </div>
                    </mat-list-item>
                  </mat-list>
                </mat-tab>
                <mat-tab label="Absent ({{ absent }})">
                  <mat-list>
                    <mat-list-item *ngFor="let user of filterList('absent')"
                      class="d-flex justify-content-left align-items-center my-3">
                      <!-- <ngx-avatar class="user-avatar theme_avatar mx-3" size="40" name="{{user.name}}"></ngx-avatar> -->
                      <<<<<<< HEAD <ngx-avatar class="user-avatar theme_avatar mx-3" size="40" name="{{
                          user.name.split(' ')[0] +
                            ' ' +
                            user.name.split(' ')[2]
                        }}"></ngx-avatar>
                        =======
                        <!-- <ngx-avatar class="user-avatar theme_avatar mx-3" size="40" name="{{ user.name.split(' ')[0] + ' ' + user.name.split(' ')[2]}}"></ngx-avatar> -->
                        >>>>>>> da0d7c1b3964a4ffb8c12a25d86a25c1d66ae3a0
                        <!-- <img src="assets/images/person.jpg" height="50" width="50" class="user-avatar mx-3" /> -->
                        <div>
                          <div class="weight-500">
                            {{ user.name | titlecase }}
                          </div>
                          <div>{{ user.type }}</div>
                        </div>
                    </mat-list-item>
                  </mat-list>
                </mat-tab>
              </mat-tab-group>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-12 mb-4">
          <div class="squar-full-card" *ngIf="isLoading">
            <ngx-skeleton-loader> </ngx-skeleton-loader>
          </div>
          <mat-card *ngIf="!isLoading" class="custom-dash-card">
            <mat-card-title>
              <p>Employee Locations</p>
            </mat-card-title>
            <mat-card-content class="mt-2">
              <agm-map *ngIf="mapLocationData.length" class="clock-in-map color-gray" [zoom]="8.5"
                [latitude]="mapLocationData[0].lat" [longitude]="mapLocationData[0].lng">
                <agm-marker *ngFor="let loc of mapLocationData" [latitude]="loc.lat" [longitude]="loc.lng">
                  <agm-info-window>
                    <ngx-avatar [src]="loc.img" [name]="loc.img" size="50"
                      class="agm-marker-avatar employee-image"></ngx-avatar>
                    <p>
                      <strong>{{ loc.user }}</strong>
                    </p>
                    <p>
                      <strong>{{ loc.clock_in_time }}</strong>
                    </p>
                  </agm-info-window>
                </agm-marker>
              </agm-map>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>